#Subway Data

In [1]:
import csv
import datetime
import os
import pandas as pd
import numpy as np

from sets import Set
from dateutil.parser import parse
import matplotlib.pyplot as plt

import requests
import urllib2

from bs4 import BeautifulSoup as bs
from dateutil.parser import parse

%matplotlib inline
pd.options.display.mpl_style = 'default'

## Single File

### Quick Overview

Firstly, I'm going to load in one file from an earlier that I've manually downloaded from the MTA website at http://web.mta.info/developers/turnstile.html. After I get a sense of one subset of the data and how to clean it, I'll make a script to download all of the data files, clean and combine them.

In [73]:
filename = "data/turnstile/turnstile_110528.txt"
df_turnstile = pd.read_csv(filename)
df_turnstile.head(2)

,A002,R051,02-00-00,05-21-11,00:00:00,REGULAR,003169391,001097585,05-21-11.1,04:00:00,...,05-22-11,00:00:00.1,REGULAR.6,003170119,001097792,05-22-11.1,04:00:00.1,REGULAR.7,003170146,001097801
0,A002,R051,02-00-00,05-22-11,08:00:00,REGULAR,3170164,1097820,05-22-11,12:00:00,...,05-23-11,08:00:00,REGULAR,3170746,1098069,05-23-11,12:00:00,REGULAR,3170897,1098378
1,A002,R051,02-00-00,05-23-11,16:00:00,REGULAR,3171194,1098447,05-23-11,20:00:00,...,05-24-11,16:00:00,REGULAR,3172689,1099010,05-24-11,20:00:00,REGULAR,3173590,1099055

In [78]:
df_turnstile.shape

(998, 43)

There are 998 rows and an overwhelming 43 columns in this dataset. This file was written in a way where multiple observations share the same row. As a result the MTA data is notoriously difficult to work with. As adaptable as the pandas module is, it can't infer this kind of error and correct it. So I'll have to manually do it myself.

Looking at the time and date columns, it's clear that each file spans exactly one week at 4 hour intervals. The time diference between each consecutive row is 32 hours.

The MTA website labels the data as follows: 'C/A, UNIT, SCP, DATEn, TIMEn, DESCn, ENTRIESn, EXITSn'. The first 3 columns are identification data. Then elements should be chopped from the original data, 5 elements at a time and written into the new file. Next is a sequence of columns with a timestamp, type of report, entry count, and exit count, which repeats 8 times! This figure lines up with the shape of our dataframe (3 + (5 x 8)) = 43.

### Restructuring the data

In [20]:
def fix_turnstile_data(filepath):
    '''
    Filepath is a location of a MTA Subway turnstile text file.A link to an example
    MTA Subway turnstile text file can be seen at the URL below:
    http://web.mta.info/developers/data/nyct/turnstile/turnstile_110507.txt
    
    There are numerous data points included in each row of the text file. 

    This function updates each row in the text file so there is only one entry per row.
    A few examples below:
    A002,R051,02-00-00,05-28-11,00:00:00,REGULAR,003178521,001100739
    A002,R051,02-00-00,05-28-11,04:00:00,REGULAR,003178541,001100746
    A002,R051,02-00-00,05-28-11,08:00:00,REGULAR,003178559,001100775
    
    This file is then written into a new related directory.
    '''
    
    for file in filepath:
        
        # Parse the directory and filename from the input.
        splitted = file.split('/')
        directory, filename = splitted[0:2], splitted[2]

        # Read the file into memory.
        r = csv.reader(open(file, 'rb'))

        # Prepare the output directory.
        newpath = "data/turnstile/updated_data"
        #newpath = 'data/turnstile'
        
        if not os.path.exists(newpath): 
            os.makedirs(newpath)

        # Create the output file in the new directory. Overwrite the file if it exists already(wb).
        w = csv.writer(open("{0}/{1}".format(newpath, filename), 'wb'))

        # Write the header row, taken from the mta website.
        w.writerow(['C/A', 'UNIT', 'SCP', 'DATEn', 'TIMEn', 'DESCn', 'ENTRIESn', 'EXITSn'])

        # Loop through the output from the CSV reader a line at a time.
        for line in r:

            # Parse out the elements, and remove them from the row.
            ca = line.pop(0)
            unit = line.pop(0)
            scp = line.pop(0)

            # While there is still new data, parse it.
            while len(line) >= 5:

                # Take the first 5 elements and remove them.
                block, line = line[:5], line[5:]

                # Output the new row.
                w.writerow([ca, unit, scp] + block)

As it turns out, the MTA have been overhauling their data collection. Their website, API and even the data recording method have changed. The new files are all structured nicely, meaning that the previous work was unneccessary. Oh well, it was good data munging practice at least!

In [2]:
# Load in a new, recent record.
newfile = 'data/turnstile/150502.txt'

#df = pd.read_csv(newfile, sep=r"\s+")
#df = pd.read_csv(newfile, skipinitialspace=True)
df = pd.read_csv(newfile)
df.head(2)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,00:00:00,REGULAR,5106770,1729635
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,04:00:00,REGULAR,5106810,1729649

In [3]:
df.columns.values

array(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE',
       'TIME', 'DESC', 'ENTRIES',
       'EXITS                                                               '], dtype=object)

There's trailing white space after EXITS, need to manually deal with it.

In [4]:
df.columns = ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS']

### Observations not on the Hour

In [5]:
filter_onhour = [((pd.to_datetime(df.TIME[n])).minute != 0) for n in range(len(df))]

In [6]:
df[filter_onhour].head(2)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1707,A013,R081,01-00-00,49 ST-7 AVE,NQR,BMT,04/29/2015,08:12:40,REGULAR,5270306,30939048
1750,A013,R081,01-03-00,49 ST-7 AVE,NQR,BMT,04/29/2015,08:12:40,REGULAR,2911534,3345354

In [7]:
df.ix[[1706, 1707, 1708]]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1706,A013,R081,01-00-00,49 ST-7 AVE,NQR,BMT,04/29/2015,08:00:00,REGULAR,5270301,30938948
1707,A013,R081,01-00-00,49 ST-7 AVE,NQR,BMT,04/29/2015,08:12:40,REGULAR,5270306,30939048
1708,A013,R081,01-00-00,49 ST-7 AVE,NQR,BMT,04/29/2015,12:00:00,REGULAR,5270372,30940882

In [8]:
df2 = df.drop(list(df.loc[filter_onhour].index))

In [9]:
df2 = df2.reset_index()

In [10]:
df = df2
del df['index']

In [11]:
df.ix[[1706]]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1706,A013,R081,01-00-00,49 ST-7 AVE,NQR,BMT,04/29/2015,08:00:00,REGULAR,5270301,30938948

###Entries and Exits

The original data set gives running totals for each turnstile instead of just a number of entries or exits, so to get anything useful out of it, I'll need to do some subtraction. Simply subtract the entry tally for one timestamp from the previous reading.

In [113]:
df[df.ENTRIES == 0].head(5)

NameError: name 'df' is not defined

####Taking One Day

In [198]:
df1 = df[df.DATE == '05/01/2015']

In [114]:
df1.head(2)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,00:00:00,REGULAR,5106770,1729635
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,04:00:00,REGULAR,5106810,1729649

From the documentation on [MTA](http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt), here's what the variables mean:



````
======================================
Field Description

C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS


C/A      = Control Area (A002) - Booth
UNIT     = Remote Unit for a station (R051)
SCP      = Subunit Channel Position represents an specific address for a device (02-00-00)
STATION  = Represents the station name the device is located at
LINENAME = Represents all train lines that can be boarded at this station
           Normally lines are represented by one character.  LINENAME 456NQR repersents train server for 4, 5, 6, N, Q, and R trains.
DIVISION = Represents the Line originally the station belonged to BMT, IRT, or IND   
DATE     = Represents the date (MM-DD-YY)
TIME     = Represents the time (hh:mm:ss) for a scheduled audit event
DESc     = Represent the "REGULAR" scheduled audit event (Normally occurs every 4 hours)
           1. Audits may occur more that 4 hours due to planning, or troubleshooting activities. 
           2. Additionally, there may be a "RECOVR AUD" entry: This refers to a missed audit that was recovered. 
ENTRIES  = The comulative entry register value for a device
EXIST    = The cumulative exit register value for a device



Example:
The data below shows the entry/exit register values for one turnstile at control area (A002) from 09/27/14 at 00:00 hours to 09/29/14 at 00:00 hours


C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,00:00:00,REGULAR,0004800073,0001629137,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,04:00:00,REGULAR,0004800125,0001629149,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,08:00:00,REGULAR,0004800146,0001629162,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,12:00:00,REGULAR,0004800264,0001629264,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,16:00:00,REGULAR,0004800523,0001629328,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-27-14,20:00:00,REGULAR,0004800924,0001629371,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,00:00:00,REGULAR,0004801104,0001629395,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,04:00:00,REGULAR,0004801149,0001629402,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,08:00:00,REGULAR,0004801168,0001629414,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,12:00:00,REGULAR,0004801304,0001629463,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,16:00:00,REGULAR,0004801463,0001629521,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-28-14,20:00:00,REGULAR,0004801737,0001629555,
A002,R051,02-00-00,LEXINGTON AVE,456NQR,BMT,09-29-14,00:00:00,REGULAR,0004801836,0001629574,
======================================
````

In [50]:
df1.groupby(['C/A', 'UNIT', 'SCP']).first()

                           STATION LINENAME DIVISION        DATE      TIME  \
C/A   UNIT SCP
A002  R051 02-00-00  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-00-01  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-00  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-01  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-02  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-03  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-04  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-05  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-03-06  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-05-00  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-05-01  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
           02-06-00  LEXINGTON AVE   NQR456      BMT  05/01/2015  00:00:00
A006  R079 00-00-00    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-00-01    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-00-02    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-00-03    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-00-04    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-03-00    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-03-01    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           00-03-02    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
A007  R079 01-05-00    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           01-05-01    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           01-06-00    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           01-06-01    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           01-06-02    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
           01-06-03    5 AVE-59 ST      NQR      BMT  05/01/2015  02:00:00
A010  R080 00-00-00    57 ST-7 AVE      NQR      BMT  05/01/2015  00:00:00
           00-00-01    57 ST-7 AVE      NQR      BMT  05/01/2015  00:00:00
           00-00-02    57 ST-7 AVE      NQR      BMT  05/01/2015  00:00:00
           00-00-03    57 ST-7 AVE      NQR      BMT  05/01/2015  00:00:00
...                            ...      ...      ...         ...       ...
S101A R070 01-00-00     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-01     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-02     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-03     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-04     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-05     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-00-06     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-03-00     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-03-01     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-03-02     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-03-03     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-05-00     ST. GEORGE        1      SRT  05/01/2015  00:00:00
           01-05-01     ST. GEORGE        1      SRT  05/01/2015  00:00:00
S102  R165 00-00-00  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-00-01  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-03-00  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-03-01  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-03-02  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-05-00  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
           00-05-01  TOMPKINSVILLE        1      SRT  05/01/2015  02:00:00
TRAM1 R468 00-00-00  RIT-MANHATTAN        R      RIT  05/01/2015  01:00:00
           00-00-01  RIT-MANHATTAN        R      RIT  05/01/2015  01:00:00
           00-00-02  RIT-MANHATTAN        R      RIT  05/01/2015  01:00:00
           00-05-00  RIT-MANHATTAN        R      RIT  05/01/2015  01:00:00
TRAM2 R469 00-00-00  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00
           00-00-01  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00
           00-03-00  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00
           00-03-01  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00
           00-05-00  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00
           00-05-01  RIT-ROOSEVELT        R      RIT  05/01/2015  01:00:00

                        DESC   ENTRIES     EXITS
C/A   UNIT SCP
A002  R051 02-00-00  REGULAR   5115461   1732389
           02-00-01  REGULAR   4738746   1034160
           02-03-00  REGULAR    488569   1842807
           02-03-01  REGULAR   4684600   7368230
           02-03-02  REGULAR   4416403   6080309
           02-03-03  REGULAR   4055563   4949206
           02-03-04  REGULAR   5145422   2905435
           02-03-05  REGULAR   8372370   1198590
           02-03-06  REGULAR   6528438    462214
           02-05-00  REGULAR      1156         0
           02-05-01  REGULAR         0       608
           02-06-00  REGULAR   5666085    132929
A006  R079 00-00-00  REGULAR   1613154   2912639
           00-00-01  REGULAR   2893331   1945340
           00-00-02  REGULAR   6882032   3079558
           00-00-03  REGULAR   1620408    622184
           00-00-04  REGULAR   6359830   2837921
           00-03-00  REGULAR   7383159   3369264
           00-03-01  REGULAR   1126248    591109
           00-03-02  REGULAR  12640991  13414122
A007  R079 01-05-00  REGULAR      2541         0
           01-05-01  REGULAR         1      1018
           01-06-00  REGULAR   2614795   5914687
           01-06-01  REGULAR   4074421   7103426
           01-06-02  REGULAR   3277529   1525001
           01-06-03  REGULAR   5023731   2059123
A010  R080 00-00-00  REGULAR    150712     89872
           00-00-01  REGULAR  12255586   4540224
           00-00-02  REGULAR   8940356   3458684
           00-00-03  REGULAR   1868729    920022
...                      ...       ...       ...
S101A R070 01-00-00  REGULAR   2567713     23410
           01-00-01  REGULAR    284529         5
           01-00-02  REGULAR   2834752     20020
           01-00-03  REGULAR   1876816       332
           01-00-04  REGULAR   1731313     29093
           01-00-05  REGULAR    259496         9
           01-00-06  REGULAR   1016100       254
           01-03-00  REGULAR    949912       124
           01-03-01  REGULAR    811384       136
           01-03-02  REGULAR     56954         9
           01-03-03  REGULAR    581454       141
           01-05-00  REGULAR       538         0
           01-05-01  REGULAR       315         0
S102  R165 00-00-00  REGULAR    350018         7
           00-00-01  REGULAR    323272      4282
           00-03-00  REGULAR    327817        10
           00-03-01  REGULAR   7298050   2410678
           00-03-02  REGULAR    133608         2
           00-05-00  REGULAR       642         0
           00-05-01  REGULAR       632         0
TRAM1 R468 00-00-00  REGULAR   1518457     34766
           00-00-01  REGULAR    847114      8174
           00-00-02  REGULAR    885714     12919
           00-05-00  REGULAR       951         0
TRAM2 R469 00-00-00  REGULAR   2455762     35555
           00-00-01  REGULAR    998137     10262
           00-03-00  REGULAR    210386      8673
           00-03-01  REGULAR   2508770    372348
           00-05-00  REGULAR      1788        62
           00-05-01  REGULAR      5554       205

[4227 rows x 8 columns]

It seems like C/A, UNIT and SCP are the 3 identifiers that I need to run through in order to get every turnstile. I want to have hourly entries and exits that are initialized at 0 at the start of the day (varies between 00:00:00 to 03:00:00) and are updated on 4 hour intervals by the difference of the cumulative values.

In [52]:
filter_first = (df1['C/A'] == 'A002') & (df1['UNIT'] == 'R051') & (df1['SCP'] == '02-00-00')

In [53]:
df10 = df1[filter_first]
df10 = df1.reset_index()
df10 = df10.drop('index', axis=1)

In [54]:
df10['ENTRIES_hourly'] = df10['ENTRIES'] - df10['ENTRIES'].shift(1)
df10['ENTRIES_hourly'] = df10['ENTRIES_hourly'].fillna(0)

df10['EXITS_hourly'] = df10['EXITS'] - df10['EXITS'].shift(1)
df10['EXITS_hourly'] = df10['EXITS_hourly'].fillna(0)

In [55]:
df10.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,ENTRIES_hourly,EXITS_hourly
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394,19,5
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482,44,88
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,5115678,1732624,154,142
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,5115998,1732647,320,23
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,5116883,1732666,885,19
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4738746,1034160,-378137,-698506
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4738761,1034161,15,1
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4738804,1034199,43,38
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4738969,1034274,165,75

Ok, this simple solution would work for one turnstile on one date. However, it discovers a new turnstile or a new date, then things begin to break down.

I haven't been able to find an elegant vectorized solution for this problem (perhaps it's worth investigating the "apply" function more) so I've made my own function to do the job.

In [2]:
# Load in a new, recent record.
newfile = 'data/turnstile/150502.txt'

df1 = pd.read_csv(newfile)
df1.columns = ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS']
df1.head(2)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,00:00:00,REGULAR,5106770,1729635
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/25/2015,04:00:00,REGULAR,5106810,1729649

In [3]:
newfile = 'data/turnstile/150509.txt'
df2 = pd.read_csv(newfile)
df2.columns = ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS']
df2.head(2)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,00:00:00,REGULAR,5117130,1732680
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,04:00:00,REGULAR,5117157,1732685


For each turnstile's first entry on May 1st I need to set its entrties and exits to 0. Then calculate the rest of the entries and exits for the day by taking the difference of consecutive ones. Finally for the remaining days I will need to look up what the count was for the last entry on the previous day.

In [4]:
def cumulative_to_hourly(df):
    """
    
    
    """
    
    
    for i, entry in df.iterrows():
        id_ = entry['C/A'], entry['UNIT'], entry['SCP']
        #print entry
        
        
        #If first entry of May 1st.
        
        starting_time = ['00:00:00', '01:00:00', '02:00:00', '03:00:00']
        
        if (entry['DATE'] == '05/01/2015' and (entry['TIME'] in starting_time)):
            
            df.loc[i, 'HOURLY_ENTRIES'] = 0
            df.loc[i, 'HOURLY_EXITS'] = 0
            
            print "\nFIRST ENTRY."
            print "ID = {} \t DATE = {} \t TIME = {}\n".format(id_, entry['DATE'], entry['TIME'])
            
        
        # Otherwise, look up previous entry for that turnstile.
        else:
            print "ID = {} \t DATE = {} \t TIME = {}".format(id_, entry['DATE'], entry['TIME'])
            
            # Get all entries for that turnstile
            previous_entries = df[(df['C/A']==entry['C/A']) & (df['UNIT']==entry['UNIT']) & (df['SCP']==entry['SCP']) & (df.index < i)]
            j = max(previous_entries.index)
            #print previous_entries
            
            df.loc[i, 'HOURLY_ENTRIES'] = df.loc[i, 'ENTRIES'] - df.loc[j, 'ENTRIES']
            df.loc[i, 'HOURLY_EXITS'] = df.loc[i, 'EXITS'] - df.loc[j, 'EXITS']
            
            print "i = {} \t j = {} \t  previous entries = {}".format(i, j, previous_entries.index)
            print "CURRENT ENTRIES - OLD ENTRIES = {} - {}  = ".format(df.loc[i, 'ENTRIES'], df.loc[j, 'ENTRIES'], df.loc[i, 'ENTRIES'] - df.loc[j, 'ENTRIES'])
            print "CURRENT EXITS - OLD EXITS = {} - {}  = \n".format(df.loc[i, 'EXITS'], df.loc[j, 'EXITS'], df.loc[i, 'EXITS'] - df.loc[j, 'EXITS'])

Testing on one date, 10 entries.

In [8]:
df_testing= df1[df1['DATE'] == '05/01/2015'][:10]
df_testing = df_testing.reset_index()
df_testing = df_testing.drop('index', axis=1)
df_testing

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,5115678,1732624
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,5115998,1732647
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,5116883,1732666
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4738746,1034160
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4738761,1034161
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4738804,1034199
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4738969,1034274

In [9]:
cumulative_to_hourly(df_testing)
df_testing

FIRST ENTRY.
ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 1 	 j = 0 	  previous entries = Int64Index([0], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115480 - 5115461  =
CURRENT EXITS - OLD EXITS = 1732394 - 1732389  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 2 	 j = 1 	  previous entries = Int64Index([0, 1], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115524 - 5115480  =
CURRENT EXITS - OLD EXITS = 1732482 - 1732394  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 3 	 j = 2 	  previous entries = Int64Index([0, 1, 2], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115678 - 5115524  =
CURRENT EXITS - OLD EXITS = 1732624 - 1732482  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 4 	 j = 3 	  previous entries = Int64Index([0, 1, 2, 3], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115998 - 5115678  =
CURRENT EXITS - OLD EXITS = 1732647 - 1732624  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 5 	 j = 4 	  previous entries = Int64Index([0, 1, 2, 3, 4], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5116883 - 5115998  =
CURRENT EXITS - OLD EXITS = 1732666 - 1732647  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 7 	 j = 6 	  previous entries = Int64Index([6], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4738761 - 4738746  =
CURRENT EXITS - OLD EXITS = 1034161 - 1034160  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 8 	 j = 7 	  previous entries = Int64Index([6, 7], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4738804 - 4738761  =
CURRENT EXITS - OLD EXITS = 1034199 - 1034161  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 9 	 j = 8 	  previous entries = Int64Index([6, 7, 8], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4738969 - 4738804  =
CURRENT EXITS - OLD EXITS = 1034274 - 1034199  =

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,HOURLY_ENTRIES,HOURLY_EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394,19,5
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482,44,88
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,5115678,1732624,154,142
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,5115998,1732647,320,23
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,5116883,1732666,885,19
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4738746,1034160,0,0
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4738761,1034161,15,1
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4738804,1034199,43,38
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4738969,1034274,165,75

Testing on one date, 1000 entries.

In [12]:
df123 = df1[df1.DATE == '05/01/2015']
df123 = df123.reset_index()
df123 = df123.drop('index', axis=1)
df123 = df123[:1100]

In [13]:
df123

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,5115678,1732624
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,5115998,1732647
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,5116883,1732666
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4738746,1034160
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4738761,1034161
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4738804,1034199
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4738969,1034274
10,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,4739263,1034296
11,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,4740008,1034303
12,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,488569,1842807
13,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,488577,1842817
14,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,488593,1843078
15,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,488655,1843561
16,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,488802,1843726
17,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,489193,1843971
18,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4684600,7368230
19,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4684636,7368244
20,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4684691,7368553
21,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4684873,7369311
22,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,4685143,7369475
23,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,4685875,7369845
24,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4416403,6080309
25,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4416424,6080327
26,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4416467,6080700
27,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4416661,6081512
28,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,4416902,6081916
29,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,4417557,6082534
...,...,...,...,...,...,...,...,...,...,...,...
1070,A046,R463,00-06-06,CANAL ST,JNQRZ6,BMT,05/01/2015,09:00:00,REGULAR,101350073,18760255
1071,A046,R463,00-06-06,CANAL ST,JNQRZ6,BMT,05/01/2015,13:00:00,REGULAR,101350193,18761253
1072,A046,R463,00-06-06,CANAL ST,JNQRZ6,BMT,05/01/2015,17:00:00,REGULAR,101350452,18761854
1073,A046,R463,00-06-06,CANAL ST,JNQRZ6,BMT,05/01/2015,21:00:00,REGULAR,101350811,18762334
1074,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,01:00:00,REGULAR,3710223,10844759
1075,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,05:00:00,REGULAR,3710230,10844771
1076,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,09:00:00,REGULAR,3710254,10844958
1077,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,13:00:00,REGULAR,3710351,10845551
1078,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,17:00:00,REGULAR,3710575,10846064
1079,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,21:00:00,REGULAR,3710874,10846570
1080,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,01:00:00,REGULAR,976942,7647033
1081,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,05:00:00,REGULAR,976942,7647060
1082,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,09:00:00,REGULAR,976965,7647299
1083,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,13:00:00,REGULAR,977029,7647898
1084,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,17:00:00,REGULAR,977187,7648529
1085,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,21:00:00,REGULAR,977343,7649131
1086,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,00:00:00,REGULAR,6464095,3887243
1087,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,04:00:00,REGULAR,6464106,3887243
1088,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,08:00:00,REGULAR,6464116,3887265
1089,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,12:00:00,REGULAR,6464168,3887400
1090,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,16:00:00,REGULAR,6464305,3887501
1091,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,20:00:00,REGULAR,6464620,3887600
1092,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,00:00:00,REGULAR,2148734,1055168
1093,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,04:00:00,REGULAR,2148748,1055169
1094,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,08:00:00,REGULAR,2148750,1055191
1095,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,12:00:00,REGULAR,2148803,1055267
1096,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,16:00:00,REGULAR,2148902,1055309
1097,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,20:00:00,REGULAR,2149145,1055367
1098,A047,R087,00-00-02,CITY HALL,R,BMT,05/01/2015,00:00:00,REGULAR,6332543,4628820
1099,A047,R087,00-00-02,CITY HALL,R,BMT,05/01/2015,04:00:00,REGULAR,6332564,4628822

In [14]:
cumulative_to_hourly(df123)

FIRST ENTRY.
ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 1 	 j = 0 	  previous entries = Int64Index([0], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115480 - 5115461  =
CURRENT EXITS - OLD EXITS = 1732394 - 1732389  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 2 	 j = 1 	  previous entries = Int64Index([0, 1], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115524 - 5115480  =
CURRENT EXITS - OLD EXITS = 1732482 - 1732394  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 3 	 j = 2 	  previous entries = Int64Index([0, 1, 2], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115678 - 5115524  =
CURRENT EXITS - OLD EXITS = 1732624 - 1732482  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 4 	 j = 3 	  previous entries = Int64Index([0, 1, 2, 3], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115998 - 5115678  =
CURRENT EXITS - OLD EXITS = 1732647 - 1732624  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 5 	 j = 4 	  previous entries = Int64Index([0, 1, 2, 3, 4], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5116883 - 5115998  =
CURRENT EXITS - OLD EXITS = 1732666 - 1732647  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 7 	 j = 6 	  previous entries = Int64Index([6], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4738761 - 4738746  =
CURRENT EXITS - OLD EXITS = 1034161 - 1034160  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 8 	 j = 7 	  previous entries = Int64Index([6, 7], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4738804 - 4738761  =
CURRENT EXITS - OLD EXITS = 1034199 - 1034161  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 9 	 j = 8 	  previous entries = Int64Index([6, 7, 8], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4738969 - 4738804  =
CURRENT EXITS - OLD EXITS = 1034274 - 1034199  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 10 	 j = 9 	  previous entries = Int64Index([6, 7, 8, 9], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4739263 - 4738969  =
CURRENT EXITS - OLD EXITS = 1034296 - 1034274  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 11 	 j = 10 	  previous entries = Int64Index([6, 7, 8, 9, 10], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4740008 - 4739263  =
CURRENT EXITS - OLD EXITS = 1034303 - 1034296  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-03-00') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-03-00') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 13 	 j = 12 	  previous entries = Int64Index([12], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 488577 - 488569  =
CURRENT EXITS - OLD EXITS = 1842817 - 1842807  =

ID = ('A002', 'R051', '02-03-00') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 14 	 j = 13 	  previous entries = Int64Index([12, 13], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 488593 - 488577  =
CURRENT EXITS - OLD EXITS = 1843078 - 1842817  =

ID = ('A002', 'R051', '02-03-00') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 15 	 j = 14 	  previous entries = Int64Index([12, 13, 14], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 488655 - 488593  =
CURRENT EXITS - OLD EXITS = 1843561 - 1843078  =

ID = ('A002', 'R051', '02-03-00') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 16 	 j = 15 	  previous entries = Int64Index([12, 13, 14, 15], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 488802 - 488655  =
CURRENT EXITS - OLD EXITS = 1843726 - 1843561  =

ID = ('A002', 'R051', '02-03-00') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 17 	 j = 16 	  previous entries = Int64Index([12, 13, 14, 15, 16], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 489193 - 488802  =
CURRENT EXITS - OLD EXITS = 1843971 - 1843726  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-03-01') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-03-01') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 19 	 j = 18 	  previous entries = Int64Index([18], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4684636 - 4684600  =
CURRENT EXITS - OLD EXITS = 7368244 - 7368230  =

ID = ('A002', 'R051', '02-03-01') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 20 	 j = 19 	  previous entries = Int64Index([18, 19], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4684691 - 4684636  =
CURRENT EXITS - OLD EXITS = 7368553 - 7368244  =

ID = ('A002', 'R051', '02-03-01') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 21 	 j = 20 	  previous entries = Int64Index([18, 19, 20], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4684873 - 4684691  =
CURRENT EXITS - OLD EXITS = 7369311 - 7368553  =

ID = ('A002', 'R051', '02-03-01') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 22 	 j = 21 	  previous entries = Int64Index([18, 19, 20, 21], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4685143 - 4684873  =
CURRENT EXITS - OLD EXITS = 7369475 - 7369311  =

ID = ('A002', 'R051', '02-03-01') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 23 	 j = 22 	  previous entries = Int64Index([18, 19, 20, 21, 22], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4685875 - 4685143  =
CURRENT EXITS - OLD EXITS = 7369845 - 7369475  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-03-02') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-03-02') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 25 	 j = 24 	  previous entries = Int64Index([24], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4416424 - 4416403  =
CURRENT EXITS - OLD EXITS = 6080327 - 6080309  =

ID = ('A002', 'R051', '02-03-02') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 26 	 j = 25 	  previous entries = Int64Index([24, 25], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4416467 - 4416424  =
CURRENT EXITS - OLD EXITS = 6080700 - 6080327  =

ID = ('A002', 'R051', '02-03-02') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 27 	 j = 26 	  previous entries = Int64Index([24, 25, 26], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4416661 - 4416467  =
CURRENT EXITS - OLD EXITS = 6081512 - 6080700  =

ID = ('A002', 'R051', '02-03-02') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 28 	 j = 27 	  previous entries = Int64Index([24, 25, 26, 27], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4416902 - 4416661  =
CURRENT EXITS - OLD EXITS = 6081916 - 6081512  =

ID = ('A002', 'R051', '02-03-02') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 29 	 j = 28 	  previous entries = Int64Index([24, 25, 26, 27, 28], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4417557 - 4416902  =
CURRENT EXITS - OLD EXITS = 6082534 - 6081916  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-03-03') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-03-03') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 31 	 j = 30 	  previous entries = Int64Index([30], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4055580 - 4055563  =
CURRENT EXITS - OLD EXITS = 4949231 - 4949206  =

ID = ('A002', 'R051', '02-03-03') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 32 	 j = 31 	  previous entries = Int64Index([30, 31], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4055622 - 4055580  =
CURRENT EXITS - OLD EXITS = 4949665 - 4949231  =

ID = ('A002', 'R051', '02-03-03') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 33 	 j = 32 	  previous entries = Int64Index([30, 31, 32], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4055809 - 4055622  =
CURRENT EXITS - OLD EXITS = 4950528 - 4949665  =

ID = ('A002', 'R051', '02-03-03') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 34 	 j = 33 	  previous entries = Int64Index([30, 31, 32, 33], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4056078 - 4055809  =
CURRENT EXITS - OLD EXITS = 4950984 - 4950528  =

ID = ('A002', 'R051', '02-03-03') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 35 	 j = 34 	  previous entries = Int64Index([30, 31, 32, 33, 34], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4056750 - 4056078  =
CURRENT EXITS - OLD EXITS = 4951661 - 4950984  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-03-04') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-03-04') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 37 	 j = 36 	  previous entries = Int64Index([36], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5145449 - 5145422  =
CURRENT EXITS - OLD EXITS = 2905442 - 2905435  =

ID = ('A002', 'R051', '02-03-04') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 38 	 j = 37 	  previous entries = Int64Index([36, 37], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5145524 - 5145449  =
CURRENT EXITS - OLD EXITS = 2905725 - 2905442  =

ID = ('A002', 'R051', '02-03-04') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 39 	 j = 38 	  previous entries = Int64Index([36, 37, 38], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5145850 - 5145524  =
CURRENT EXITS - OLD EXITS = 2906270 - 2905725  =

ID = ('A002', 'R051', '02-03-04') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 40 	 j = 39 	  previous entries = Int64Index([36, 37, 38, 39], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5146281 - 5145850  =
CURRENT EXITS - OLD EXITS = 2906510 - 2906270  =

ID = ('A002', 'R051', '02-03-04') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 41 	 j = 40 	  previous entries = Int64Index([36, 37, 38, 39, 40], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5147134 - 5146281  =
CURRENT EXITS - OLD EXITS = 2906777 - 2906510  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-03-05') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-03-05') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 43 	 j = 42 	  previous entries = Int64Index([42], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 8372413 - 8372370  =
CURRENT EXITS - OLD EXITS = 1198596 - 1198590  =

ID = ('A002', 'R051', '02-03-05') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 44 	 j = 43 	  previous entries = Int64Index([42, 43], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 8372576 - 8372413  =
CURRENT EXITS - OLD EXITS = 1198702 - 1198596  =

ID = ('A002', 'R051', '02-03-05') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 45 	 j = 44 	  previous entries = Int64Index([42, 43, 44], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 8373167 - 8372576  =
CURRENT EXITS - OLD EXITS = 1198859 - 1198702  =

ID = ('A002', 'R051', '02-03-05') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 46 	 j = 45 	  previous entries = Int64Index([42, 43, 44, 45], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 8373768 - 8373167  =
CURRENT EXITS - OLD EXITS = 1198932 - 1198859  =

ID = ('A002', 'R051', '02-03-05') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 47 	 j = 46 	  previous entries = Int64Index([42, 43, 44, 45, 46], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 8374892 - 8373768  =
CURRENT EXITS - OLD EXITS = 1199000 - 1198932  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-03-06') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-03-06') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 49 	 j = 48 	  previous entries = Int64Index([48], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 6528456 - 6528438  =
CURRENT EXITS - OLD EXITS = 462216 - 462214  =

ID = ('A002', 'R051', '02-03-06') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 50 	 j = 49 	  previous entries = Int64Index([48, 49], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 6528638 - 6528456  =
CURRENT EXITS - OLD EXITS = 462232 - 462216  =

ID = ('A002', 'R051', '02-03-06') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 51 	 j = 50 	  previous entries = Int64Index([48, 49, 50], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 6529248 - 6528638  =
CURRENT EXITS - OLD EXITS = 462255 - 462232  =

ID = ('A002', 'R051', '02-03-06') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 52 	 j = 51 	  previous entries = Int64Index([48, 49, 50, 51], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 6529757 - 6529248  =
CURRENT EXITS - OLD EXITS = 462281 - 462255  =

ID = ('A002', 'R051', '02-03-06') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 53 	 j = 52 	  previous entries = Int64Index([48, 49, 50, 51, 52], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 6530733 - 6529757  =
CURRENT EXITS - OLD EXITS = 462297 - 462281  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-05-00') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-05-00') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 55 	 j = 54 	  previous entries = Int64Index([54], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 1156 - 1156  =
CURRENT EXITS - OLD EXITS = 0 - 0  =

ID = ('A002', 'R051', '02-05-00') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 56 	 j = 55 	  previous entries = Int64Index([54, 55], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 1156 - 1156  =
CURRENT EXITS - OLD EXITS = 0 - 0  =

ID = ('A002', 'R051', '02-05-00') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 57 	 j = 56 	  previous entries = Int64Index([54, 55, 56], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 1156 - 1156  =
CURRENT EXITS - OLD EXITS = 0 - 0  =

ID = ('A002', 'R051', '02-05-00') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 58 	 j = 57 	  previous entries = Int64Index([54, 55, 56, 57], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 1156 - 1156  =
CURRENT EXITS - OLD EXITS = 0 - 0  =

ID = ('A002', 'R051', '02-05-00') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 59 	 j = 58 	  previous entries = Int64Index([54, 55, 56, 57, 58], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 1156 - 1156  =
CURRENT EXITS - OLD EXITS = 0 - 0  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-05-01') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-05-01') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 61 	 j = 60 	  previous entries = Int64Index([60], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 0 - 0  =
CURRENT EXITS - OLD EXITS = 608 - 608  =

ID = ('A002', 'R051', '02-05-01') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 62 	 j = 61 	  previous entries = Int64Index([60, 61], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 0 - 0  =
CURRENT EXITS - OLD EXITS = 608 - 608  =

ID = ('A002', 'R051', '02-05-01') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 63 	 j = 62 	  previous entries = Int64Index([60, 61, 62], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 0 - 0  =
CURRENT EXITS - OLD EXITS = 608 - 608  =

ID = ('A002', 'R051', '02-05-01') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 64 	 j = 63 	  previous entries = Int64Index([60, 61, 62, 63], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 0 - 0  =
CURRENT EXITS - OLD EXITS = 608 - 608  =

ID = ('A002', 'R051', '02-05-01') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 65 	 j = 64 	  previous entries = Int64Index([60, 61, 62, 63, 64], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 0 - 0  =
CURRENT EXITS - OLD EXITS = 608 - 608  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-06-00') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-06-00') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 67 	 j = 66 	  previous entries = Int64Index([66], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5666107 - 5666085  =
CURRENT EXITS - OLD EXITS = 132930 - 132929  =

ID = ('A002', 'R051', '02-06-00') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 68 	 j = 67 	  previous entries = Int64Index([66, 67], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5666256 - 5666107  =
CURRENT EXITS - OLD EXITS = 132934 - 132930  =

ID = ('A002', 'R051', '02-06-00') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 69 	 j = 68 	  previous entries = Int64Index([66, 67, 68], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5666788 - 5666256  =
CURRENT EXITS - OLD EXITS = 132941 - 132934  =

ID = ('A002', 'R051', '02-06-00') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 70 	 j = 69 	  previous entries = Int64Index([66, 67, 68, 69], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5667221 - 5666788  =
CURRENT EXITS - OLD EXITS = 132943 - 132941  =

ID = ('A002', 'R051', '02-06-00') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 71 	 j = 70 	  previous entries = Int64Index([66, 67, 68, 69, 70], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5668109 - 5667221  =
CURRENT EXITS - OLD EXITS = 132950 - 132943  =


FIRST ENTRY.
ID = ('A006', 'R079', '00-00-00') 	 DATE = 05/01/2015 	 TIME = 02:00:00

ID = ('A006', 'R079', '00-00-00') 	 DATE = 05/01/2015 	 TIME = 06:00:00
i = 73 	 j = 72 	  previous entries = Int64Index([72], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 1613166 - 1613154  =
CURRENT EXITS - OLD EXITS = 2912678 - 2912639  =

ID = ('A006', 'R079', '00-00-00') 	 DATE = 05/01/2015 	 TIME = 10:00:00
i = 74 	 j = 73 	  previous entries = Int64Index([72, 73], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 1613225 - 1613166  =
CURRENT EXITS - OLD EXITS = 2913963 - 2912678  =

ID = ('A006', 'R079', '00-00-00') 	 DATE = 05/01/2015 	 TIME = 14:00:00
i = 75 	 j = 74 	  previous entries = Int64Index([72, 73, 74], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 1613443 - 1613225  =
CURRENT EXITS - OLD EXITS = 2914860 - 2913963  =

ID = ('A006', 'R079', '00-00-00') 	 DATE = 05/01/2015 	 TIME = 18:00:00
i = 76 	 j = 75 	  previous entries = Int64Index([72, 73, 74, 75], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 1614217 - 1613443  =
CURRENT EXITS - OLD EXITS = 2915582 - 2914860  =

ID = ('A006', 'R079', '00-00-00') 	 DATE = 05/01/2015 	 TIME = 22:00:00
i = 77 	 j = 76 	  previous entries = Int64Index([72, 73, 74, 75, 76], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 1614922 - 1614217  =
CURRENT EXITS - OLD EXITS = 2915935 - 2915582  =


FIRST ENTRY.
ID = ('A006', 'R079', '00-00-01') 	 DATE = 05/01/2015 	 TIME = 02:00:00

ID = ('A006', 'R079', '00-00-01') 	 DATE = 05/01/2015 	 TIME = 06:00:00
i = 79 	 j = 78 	  previous entries = Int64Index([78], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 2893339 - 2893331  =
CURRENT EXITS - OLD EXITS = 1945349 - 1945340  =

ID = ('A006', 'R079', '00-00-01') 	 DATE = 05/01/2015 	 TIME = 10:00:00
i = 80 	 j = 79 	  previous entries = Int64Index([78, 79], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 2893416 - 2893339  =
CURRENT EXITS - OLD EXITS = 1945719 - 1945349  =

ID = ('A006', 'R079', '00-00-01') 	 DATE = 05/01/2015 	 TIME = 14:00:00
i = 81 	 j = 80 	  previous entries = Int64Index([78, 79, 80], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 2893666 - 2893416  =
CURRENT EXITS - OLD EXITS = 1946038 - 1945719  =

ID = ('A006', 'R079', '00-00-01') 	 DATE = 05/01/2015 	 TIME = 18:00:00
i = 82 	 j = 81 	  previous entries = Int64Index([78, 79, 80, 81], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 2894491 - 2893666  =
CURRENT EXITS - OLD EXITS = 1946297 - 1946038  =

ID = ('A006', 'R079', '00-00-01') 	 DATE = 05/01/2015 	 TIME = 22:00:00
i = 83 	 j = 82 	  previous entries = Int64Index([78, 79, 80, 81, 82], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 2895123 - 2894491  =
CURRENT EXITS - OLD EXITS = 1946410 - 1946297  =


FIRST ENTRY.
ID = ('A006', 'R079', '00-00-02') 	 DATE = 05/01/2015 	 TIME = 02:00:00

ID = ('A006', 'R079', '00-00-02') 	 DATE = 05/01/2015 	 TIME = 06:00:00
i = 85 	 j = 84 	  previous entries = Int64Index([84], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 6882038 - 6882032  =
CURRENT EXITS - OLD EXITS = 3079563 - 3079558  =

ID = ('A006', 'R079', '00-00-02') 	 DATE = 05/01/2015 	 TIME = 10:00:00
i = 86 	 j = 85 	  previous entries = Int64Index([84, 85], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 6882093 - 6882038  =
CURRENT EXITS - OLD EXITS = 3079827 - 3079563  =

ID = ('A006', 'R079', '00-00-02') 	 DATE = 05/01/2015 	 TIME = 14:00:00
i = 87 	 j = 86 	  previous entries = Int64Index([84, 85, 86], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 6882279 - 6882093  =
CURRENT EXITS - OLD EXITS = 3079968 - 3079827  =

ID = ('A006', 'R079', '00-00-02') 	 DATE = 05/01/2015 	 TIME = 18:00:00
i = 88 	 j = 87 	  previous entries = Int64Index([84, 85, 86, 87], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 6882973 - 6882279  =
CURRENT EXITS - OLD EXITS = 3080084 - 3079968  =

ID = ('A006', 'R079', '00-00-02') 	 DATE = 05/01/2015 	 TIME = 22:00:00
i = 89 	 j = 88 	  previous entries = Int64Index([84, 85, 86, 87, 88], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 6883464 - 6882973  =

In [49]:
df123

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,HOURLY_ENTRIES,HOURLY_EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394,19,5
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482,44,88
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,5115678,1732624,154,142
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,5115998,1732647,320,23
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,5116883,1732666,885,19
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4738746,1034160,0,0
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4738761,1034161,15,1
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4738804,1034199,43,38
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4738969,1034274,165,75
10,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,4739263,1034296,294,22
11,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,4740008,1034303,745,7
12,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,488569,1842807,0,0
13,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,488577,1842817,8,10
14,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,488593,1843078,16,261
15,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,488655,1843561,62,483
16,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,488802,1843726,147,165
17,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,489193,1843971,391,245
18,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4684600,7368230,0,0
19,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4684636,7368244,36,14
20,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4684691,7368553,55,309
21,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4684873,7369311,182,758
22,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,4685143,7369475,270,164
23,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,4685875,7369845,732,370
24,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4416403,6080309,0,0
25,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4416424,6080327,21,18
26,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4416467,6080700,43,373
27,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4416661,6081512,194,812
28,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,4416902,6081916,241,404
29,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,4417557,6082534,655,618
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,A046,R463,00-06-06,CANAL ST,JNQRZ6,BMT,05/01/2015,09:00:00,REGULAR,101350073,18760255,24,391
1071,A046,R463,00-06-06,CANAL ST,JNQRZ6,BMT,05/01/2015,13:00:00,REGULAR,101350193,18761253,120,998
1072,A046,R463,00-06-06,CANAL ST,JNQRZ6,BMT,05/01/2015,17:00:00,REGULAR,101350452,18761854,259,601
1073,A046,R463,00-06-06,CANAL ST,JNQRZ6,BMT,05/01/2015,21:00:00,REGULAR,101350811,18762334,359,480
1074,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,01:00:00,REGULAR,3710223,10844759,0,0
1075,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,05:00:00,REGULAR,3710230,10844771,7,12
1076,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,09:00:00,REGULAR,3710254,10844958,24,187
1077,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,13:00:00,REGULAR,3710351,10845551,97,593
1078,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,17:00:00,REGULAR,3710575,10846064,224,513
1079,A046,R463,00-06-07,CANAL ST,JNQRZ6,BMT,05/01/2015,21:00:00,REGULAR,3710874,10846570,299,506
1080,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,01:00:00,REGULAR,976942,7647033,0,0
1081,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,05:00:00,REGULAR,976942,7647060,0,27
1082,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,09:00:00,REGULAR,976965,7647299,23,239
1083,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,13:00:00,REGULAR,977029,7647898,64,599
1084,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,17:00:00,REGULAR,977187,7648529,158,631
1085,A046,R463,00-06-08,CANAL ST,JNQRZ6,BMT,05/01/2015,21:00:00,REGULAR,977343,7649131,156,602
1086,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,00:00:00,REGULAR,6464095,3887243,0,0
1087,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,04:00:00,REGULAR,6464106,3887243,11,0
1088,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,08:00:00,REGULAR,6464116,3887265,10,22
1089,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,12:00:00,REGULAR,6464168,3887400,52,135
1090,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,16:00:00,REGULAR,6464305,3887501,137,101
1091,A047,R087,00-00-00,CITY HALL,R,BMT,05/01/2015,20:00:00,REGULAR,6464620,3887600,315,99
1092,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,00:00:00,REGULAR,2148734,1055168,0,0
1093,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,04:00:00,REGULAR,2148748,1055169,14,1
1094,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,08:00:00,REGULAR,2148750,1055191,2,22
1095,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,12:00:00,REGULAR,2148803,1055267,53,76
1096,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,16:00:00,REGULAR,2148902,1055309,99,42
1097,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,20:00:00,REGULAR,2149145,1055367,243,58
1098,A047,R087,00-00-02,CITY HALL,R,BMT,05/01/2015,00:00:00,REGULAR,6332543,4628820,0,0
1099,A047,R087,00-00-02,CITY HALL,R,BMT,05/01/2015,04:00:00,REGULAR,6332564,4628822,21,2

In [93]:
df123.tail()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,HOURLY_ENTRIES,HOURLY_EXITS
1095,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,12:00:00,REGULAR,2148803,1055267,53,76
1096,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,16:00:00,REGULAR,2148902,1055309,99,42
1097,A047,R087,00-00-01,CITY HALL,R,BMT,05/01/2015,20:00:00,REGULAR,2149145,1055367,243,58
1098,A047,R087,00-00-02,CITY HALL,R,BMT,05/01/2015,00:00:00,REGULAR,6332543,4628820,0,0
1099,A047,R087,00-00-02,CITY HALL,R,BMT,05/01/2015,04:00:00,REGULAR,6332564,4628822,21,2

In [16]:
df123[df123['HOURLY_ENTRIES'] == np.isnan]

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, HOURLY_ENTRIES, HOURLY_EXITS]
Index: []

In [17]:
testing = df123[pd.isnull(df123).any(1)]
testing

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, HOURLY_ENTRIES, HOURLY_EXITS]
Index: []

========================================= 
That worked. Now time to do it with multiple dates. So two turnstiles on the first and the 2nd each.

In [5]:
dfa = df1[(df1['C/A']=='A002') & (df1['UNIT']=='R051') & ((df1['SCP']=='02-00-00') | (df1['SCP']=='02-00-01')) & (df1['DATE'] == '05/01/2015')] 
dfb = df2[(df2['C/A']=='A002') & (df2['UNIT']=='R051') & ((df2['SCP']=='02-00-00') | (df2['SCP']=='02-00-01'))]

df12ab = pd.concat([dfa, dfb])
df12ab = df12ab.reset_index()
df12ab = df12ab.drop('index', axis=1)
df12ab.DATE

0     05/01/2015
1     05/01/2015
2     05/01/2015
3     05/01/2015
4     05/01/2015
5     05/01/2015
6     05/01/2015
7     05/01/2015
8     05/01/2015
9     05/01/2015
10    05/01/2015
11    05/01/2015
12    05/02/2015
13    05/02/2015
14    05/02/2015
...
81    05/06/2015
82    05/06/2015
83    05/06/2015
84    05/07/2015
85    05/07/2015
86    05/07/2015
87    05/07/2015
88    05/07/2015
89    05/07/2015
90    05/08/2015
91    05/08/2015
92    05/08/2015
93    05/08/2015
94    05/08/2015
95    05/08/2015
Name: DATE, Length: 96, dtype: object

In [6]:
cumulative_to_hourly(df12ab)

FIRST ENTRY.
ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 1 	 j = 0 	  previous entries = Int64Index([0], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115480 - 5115461  =
CURRENT EXITS - OLD EXITS = 1732394 - 1732389  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 2 	 j = 1 	  previous entries = Int64Index([0, 1], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115524 - 5115480  =
CURRENT EXITS - OLD EXITS = 1732482 - 1732394  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 3 	 j = 2 	  previous entries = Int64Index([0, 1, 2], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115678 - 5115524  =
CURRENT EXITS - OLD EXITS = 1732624 - 1732482  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 4 	 j = 3 	  previous entries = Int64Index([0, 1, 2, 3], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5115998 - 5115678  =
CURRENT EXITS - OLD EXITS = 1732647 - 1732624  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 5 	 j = 4 	  previous entries = Int64Index([0, 1, 2, 3, 4], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5116883 - 5115998  =
CURRENT EXITS - OLD EXITS = 1732666 - 1732647  =


FIRST ENTRY.
ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 00:00:00

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 04:00:00
i = 7 	 j = 6 	  previous entries = Int64Index([6], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4738761 - 4738746  =
CURRENT EXITS - OLD EXITS = 1034161 - 1034160  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 08:00:00
i = 8 	 j = 7 	  previous entries = Int64Index([6, 7], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4738804 - 4738761  =
CURRENT EXITS - OLD EXITS = 1034199 - 1034161  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 12:00:00
i = 9 	 j = 8 	  previous entries = Int64Index([6, 7, 8], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4738969 - 4738804  =
CURRENT EXITS - OLD EXITS = 1034274 - 1034199  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 16:00:00
i = 10 	 j = 9 	  previous entries = Int64Index([6, 7, 8, 9], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4739263 - 4738969  =
CURRENT EXITS - OLD EXITS = 1034296 - 1034274  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/01/2015 	 TIME = 20:00:00
i = 11 	 j = 10 	  previous entries = Int64Index([6, 7, 8, 9, 10], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4740008 - 4739263  =
CURRENT EXITS - OLD EXITS = 1034303 - 1034296  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/02/2015 	 TIME = 00:00:00
i = 12 	 j = 5 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5117130 - 5116883  =
CURRENT EXITS - OLD EXITS = 1732680 - 1732666  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/02/2015 	 TIME = 04:00:00
i = 13 	 j = 12 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5117157 - 5117130  =
CURRENT EXITS - OLD EXITS = 1732685 - 1732680  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/02/2015 	 TIME = 08:00:00
i = 14 	 j = 13 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5117176 - 5117157  =
CURRENT EXITS - OLD EXITS = 1732693 - 1732685  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/02/2015 	 TIME = 12:00:00
i = 15 	 j = 14 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5117185 - 5117176  =
CURRENT EXITS - OLD EXITS = 1732696 - 1732693  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/02/2015 	 TIME = 16:00:00
i = 16 	 j = 15 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5117403 - 5117185  =
CURRENT EXITS - OLD EXITS = 1732748 - 1732696  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/02/2015 	 TIME = 20:00:00
i = 17 	 j = 16 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5117774 - 5117403  =
CURRENT EXITS - OLD EXITS = 1732779 - 1732748  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/03/2015 	 TIME = 00:00:00
i = 18 	 j = 17 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5117965 - 5117774  =
CURRENT EXITS - OLD EXITS = 1732825 - 1732779  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/03/2015 	 TIME = 04:00:00
i = 19 	 j = 18 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5118004 - 5117965  =
CURRENT EXITS - OLD EXITS = 1732837 - 1732825  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/03/2015 	 TIME = 08:00:00
i = 20 	 j = 19 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5118018 - 5118004  =
CURRENT EXITS - OLD EXITS = 1732859 - 1732837  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/03/2015 	 TIME = 12:00:00
i = 21 	 j = 20 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5118121 - 5118018  =
CURRENT EXITS - OLD EXITS = 1732932 - 1732859  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/03/2015 	 TIME = 16:00:00
i = 22 	 j = 21 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5118329 - 5118121  =
CURRENT EXITS - OLD EXITS = 1732980 - 1732932  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/03/2015 	 TIME = 20:00:00
i = 23 	 j = 22 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5118629 - 5118329  =
CURRENT EXITS - OLD EXITS = 1733042 - 1732980  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/04/2015 	 TIME = 00:00:00
i = 24 	 j = 23 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5118734 - 5118629  =
CURRENT EXITS - OLD EXITS = 1733079 - 1733042  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/04/2015 	 TIME = 04:00:00
i = 25 	 j = 24 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5118754 - 5118734  =
CURRENT EXITS - OLD EXITS = 1733084 - 1733079  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/04/2015 	 TIME = 08:00:00
i = 26 	 j = 25 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5118809 - 5118754  =
CURRENT EXITS - OLD EXITS = 1733185 - 1733084  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/04/2015 	 TIME = 12:00:00
i = 27 	 j = 26 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5118973 - 5118809  =
CURRENT EXITS - OLD EXITS = 1733478 - 1733185  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/04/2015 	 TIME = 16:00:00
i = 28 	 j = 27 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5119281 - 5118973  =
CURRENT EXITS - OLD EXITS = 1733544 - 1733478  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/04/2015 	 TIME = 20:00:00
i = 29 	 j = 28 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5120278 - 5119281  =
CURRENT EXITS - OLD EXITS = 1733613 - 1733544  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/05/2015 	 TIME = 00:00:00
i = 30 	 j = 29 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5120525 - 5120278  =
CURRENT EXITS - OLD EXITS = 1733637 - 1733613  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/05/2015 	 TIME = 04:00:00
i = 31 	 j = 30 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5120536 - 5120525  =
CURRENT EXITS - OLD EXITS = 1733638 - 1733637  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/05/2015 	 TIME = 08:00:00
i = 32 	 j = 31 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5120592 - 5120536  =
CURRENT EXITS - OLD EXITS = 1733751 - 1733638  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/05/2015 	 TIME = 12:00:00
i = 33 	 j = 32 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5120770 - 5120592  =
CURRENT EXITS - OLD EXITS = 1734038 - 1733751  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/05/2015 	 TIME = 16:00:00
i = 34 	 j = 33 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5121113 - 5120770  =
CURRENT EXITS - OLD EXITS = 1734110 - 1734038  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/05/2015 	 TIME = 20:00:00
i = 35 	 j = 34 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5122083 - 5121113  =
CURRENT EXITS - OLD EXITS = 1734168 - 1734110  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/06/2015 	 TIME = 00:00:00
i = 36 	 j = 35 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5122340 - 5122083  =
CURRENT EXITS - OLD EXITS = 1734203 - 1734168  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/06/2015 	 TIME = 04:00:00
i = 37 	 j = 36 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5122357 - 5122340  =
CURRENT EXITS - OLD EXITS = 1734207 - 1734203  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/06/2015 	 TIME = 08:00:00
i = 38 	 j = 37 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5122411 - 5122357  =
CURRENT EXITS - OLD EXITS = 1734302 - 1734207  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/06/2015 	 TIME = 12:00:00
i = 39 	 j = 38 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5122623 - 5122411  =
CURRENT EXITS - OLD EXITS = 1734638 - 1734302  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/06/2015 	 TIME = 16:00:00
i = 40 	 j = 39 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5122980 - 5122623  =
CURRENT EXITS - OLD EXITS = 1734726 - 1734638  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/06/2015 	 TIME = 20:00:00
i = 41 	 j = 40 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5123953 - 5122980  =
CURRENT EXITS - OLD EXITS = 1734791 - 1734726  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/07/2015 	 TIME = 00:00:00
i = 42 	 j = 41 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5124242 - 5123953  =
CURRENT EXITS - OLD EXITS = 1734813 - 1734791  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/07/2015 	 TIME = 04:00:00
i = 43 	 j = 42 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5124255 - 5124242  =
CURRENT EXITS - OLD EXITS = 1734815 - 1734813  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/07/2015 	 TIME = 08:00:00
i = 44 	 j = 43 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5124311 - 5124255  =
CURRENT EXITS - OLD EXITS = 1734926 - 1734815  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/07/2015 	 TIME = 12:00:00
i = 45 	 j = 44 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5124529 - 5124311  =
CURRENT EXITS - OLD EXITS = 1735232 - 1734926  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/07/2015 	 TIME = 16:00:00
i = 46 	 j = 45 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5124922 - 5124529  =
CURRENT EXITS - OLD EXITS = 1735318 - 1735232  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/07/2015 	 TIME = 20:00:00
i = 47 	 j = 46 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5125929 - 5124922  =
CURRENT EXITS - OLD EXITS = 1735379 - 1735318  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/08/2015 	 TIME = 00:00:00
i = 48 	 j = 47 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5126245 - 5125929  =
CURRENT EXITS - OLD EXITS = 1735409 - 1735379  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/08/2015 	 TIME = 04:00:00
i = 49 	 j = 48 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5126268 - 5126245  =
CURRENT EXITS - OLD EXITS = 1735415 - 1735409  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/08/2015 	 TIME = 08:00:00
i = 50 	 j = 49 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5126316 - 5126268  =
CURRENT EXITS - OLD EXITS = 1735532 - 1735415  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/08/2015 	 TIME = 12:00:00
i = 51 	 j = 50 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5126523 - 5126316  =
CURRENT EXITS - OLD EXITS = 1735821 - 1735532  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/08/2015 	 TIME = 16:00:00
i = 52 	 j = 51 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5126900 - 5126523  =
CURRENT EXITS - OLD EXITS = 1735908 - 1735821  =

ID = ('A002', 'R051', '02-00-00') 	 DATE = 05/08/2015 	 TIME = 20:00:00
i = 53 	 j = 52 	  previous entries = Int64Index([0, 1, 2, 3, 4, 5, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 5127920 - 5126900  =
CURRENT EXITS - OLD EXITS = 1735966 - 1735908  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/02/2015 	 TIME = 00:00:00
i = 54 	 j = 11 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4740213 - 4740008  =
CURRENT EXITS - OLD EXITS = 1034311 - 1034303  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/02/2015 	 TIME = 04:00:00
i = 55 	 j = 54 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11, 54], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4740230 - 4740213  =
CURRENT EXITS - OLD EXITS = 1034312 - 1034311  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/02/2015 	 TIME = 08:00:00
i = 56 	 j = 55 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11, 54, 55], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4740242 - 4740230  =
CURRENT EXITS - OLD EXITS = 1034312 - 1034312  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/02/2015 	 TIME = 12:00:00
i = 57 	 j = 56 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11, 54, 55, 56], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4740246 - 4740242  =
CURRENT EXITS - OLD EXITS = 1034316 - 1034312  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/02/2015 	 TIME = 16:00:00
i = 58 	 j = 57 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11, 54, 55, 56, 57], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4740461 - 4740246  =
CURRENT EXITS - OLD EXITS = 1034348 - 1034316  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/02/2015 	 TIME = 20:00:00
i = 59 	 j = 58 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11, 54, 55, 56, 57, 58], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4740821 - 4740461  =
CURRENT EXITS - OLD EXITS = 1034369 - 1034348  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/03/2015 	 TIME = 00:00:00
i = 60 	 j = 59 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11, 54, 55, 56, 57, 58, 59], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4740976 - 4740821  =
CURRENT EXITS - OLD EXITS = 1034410 - 1034369  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/03/2015 	 TIME = 04:00:00
i = 61 	 j = 60 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11, 54, 55, 56, 57, 58, 59, 60], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4741021 - 4740976  =
CURRENT EXITS - OLD EXITS = 1034421 - 1034410  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/03/2015 	 TIME = 08:00:00
i = 62 	 j = 61 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11, 54, 55, 56, 57, 58, 59, 60, 61], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4741040 - 4741021  =
CURRENT EXITS - OLD EXITS = 1034436 - 1034421  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/03/2015 	 TIME = 12:00:00
i = 63 	 j = 62 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11, 54, 55, 56, 57, 58, 59, 60, 61, 62], dtype='int64')
CURRENT ENTRIES - OLD ENTRIES = 4741139 - 4741040  =
CURRENT EXITS - OLD EXITS = 1034475 - 1034436  =

ID = ('A002', 'R051', '02-00-01') 	 DATE = 05/03/2015 	 TIME = 16:00:00
i = 64 	 j = 63 	  previous entries = Int64Index([6, 7, 8, 9, 10, 11, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63], dtype='int64')

In [7]:
df12ab

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,HOURLY_ENTRIES,HOURLY_EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,5115461,1732389,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,5115480,1732394,19,5
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,5115524,1732482,44,88
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,5115678,1732624,154,142
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,5115998,1732647,320,23
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,5116883,1732666,885,19
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,00:00:00,REGULAR,4738746,1034160,0,0
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,04:00:00,REGULAR,4738761,1034161,15,1
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,08:00:00,REGULAR,4738804,1034199,43,38
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,12:00:00,REGULAR,4738969,1034274,165,75
10,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,16:00:00,REGULAR,4739263,1034296,294,22
11,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/01/2015,20:00:00,REGULAR,4740008,1034303,745,7
12,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,00:00:00,REGULAR,5117130,1732680,247,14
13,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,04:00:00,REGULAR,5117157,1732685,27,5
14,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,08:00:00,REGULAR,5117176,1732693,19,8
15,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,12:00:00,REGULAR,5117185,1732696,9,3
16,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,16:00:00,REGULAR,5117403,1732748,218,52
17,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/02/2015,20:00:00,REGULAR,5117774,1732779,371,31
18,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/03/2015,00:00:00,REGULAR,5117965,1732825,191,46
19,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/03/2015,04:00:00,REGULAR,5118004,1732837,39,12
20,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/03/2015,08:00:00,REGULAR,5118018,1732859,14,22
21,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/03/2015,12:00:00,REGULAR,5118121,1732932,103,73
22,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/03/2015,16:00:00,REGULAR,5118329,1732980,208,48
23,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/03/2015,20:00:00,REGULAR,5118629,1733042,300,62
24,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/04/2015,00:00:00,REGULAR,5118734,1733079,105,37
25,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/04/2015,04:00:00,REGULAR,5118754,1733084,20,5
26,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/04/2015,08:00:00,REGULAR,5118809,1733185,55,101
27,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/04/2015,12:00:00,REGULAR,5118973,1733478,164,293
28,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/04/2015,16:00:00,REGULAR,5119281,1733544,308,66
29,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,05/04/2015,20:00:00,REGULAR,5120278,1733613,997,69
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/04/2015,00:00:00,REGULAR,4741647,1034610,111,31
67,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/04/2015,04:00:00,REGULAR,4741658,1034612,11,2
68,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/04/2015,08:00:00,REGULAR,4741698,1034657,40,45
69,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/04/2015,12:00:00,REGULAR,4741879,1034813,181,156
70,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/04/2015,16:00:00,REGULAR,4742130,1034858,251,45
71,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/04/2015,20:00:00,REGULAR,4742909,1034918,779,60
72,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/05/2015,00:00:00,REGULAR,4743108,1034934,199,16
73,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/05/2015,04:00:00,REGULAR,4743121,1034936,13,2
74,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/05/2015,08:00:00,REGULAR,4743156,1034999,35,63
75,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/05/2015,12:00:00,REGULAR,4743331,1035115,175,116
76,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/05/2015,16:00:00,REGULAR,4743607,1035166,276,51
77,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/05/2015,20:00:00,REGULAR,4744385,1035218,778,52
78,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/06/2015,00:00:00,REGULAR,4744581,1035229,196,11
79,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/06/2015,04:00:00,REGULAR,4744596,1035232,15,3
80,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/06/2015,08:00:00,REGULAR,4744647,1035265,51,33
81,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/06/2015,12:00:00,REGULAR,4744860,1035422,213,157
82,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/06/2015,16:00:00,REGULAR,4745135,1035475,275,53
83,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/06/2015,20:00:00,REGULAR,4745849,1035518,714,43
84,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/07/2015,00:00:00,REGULAR,4746043,1035540,194,22
85,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/07/2015,04:00:00,REGULAR,4746061,1035541,18,1
86,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/07/2015,08:00:00,REGULAR,4746117,1035600,56,59
87,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/07/2015,12:00:00,REGULAR,4746319,1035749,202,149
88,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/07/2015,16:00:00,REGULAR,4746593,1035806,274,57
89,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/07/2015,20:00:00,REGULAR,4747382,1035858,789,52
90,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,00:00:00,REGULAR,4747624,1035872,242,14
91,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,04:00:00,REGULAR,4747638,1035876,14,4
92,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,08:00:00,REGULAR,4747682,1035915,44,39
93,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,12:00:00,REGULAR,4747852,1036048,170,133
94,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,16:00:00,REGULAR,4748143,1036101,291,53
95,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,20:00:00,REGULAR,4748938,1036158,795,57

In [8]:
df12ab.tail(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,HOURLY_ENTRIES,HOURLY_EXITS
86,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/07/2015,08:00:00,REGULAR,4746117,1035600,56,59
87,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/07/2015,12:00:00,REGULAR,4746319,1035749,202,149
88,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/07/2015,16:00:00,REGULAR,4746593,1035806,274,57
89,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/07/2015,20:00:00,REGULAR,4747382,1035858,789,52
90,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,00:00:00,REGULAR,4747624,1035872,242,14
91,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,04:00:00,REGULAR,4747638,1035876,14,4
92,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,08:00:00,REGULAR,4747682,1035915,44,39
93,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,12:00:00,REGULAR,4747852,1036048,170,133
94,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,16:00:00,REGULAR,4748143,1036101,291,53
95,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,05/08/2015,20:00:00,REGULAR,4748938,1036158,795,57

In [9]:
df12ab[pd.isnull(df12ab).any(1)]

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, HOURLY_ENTRIES, HOURLY_EXITS]
Index: []

Great, the first week seems to have worked fine. It should work fine for the entire month.

### Different Types

There are different types of "DESC" according to the documentation.

===========================
````
Descn Possible Values (Events):
REGULAR - Regular scheduled audit event
NO-VAL LGN - Not Valid logon
LGF-MAN - Logoff Manual
LGF-DR CLS - Logoff Door Closed
LGF-SHUTDN - Logoff Shutdown
TS BRD CHG - Turnstile Board Change
TS VLT OPN - Turnstile Vault Open
RECOVR AUD - Recovery audit - if REGULAR was not delivered due to communications problems
````
===========================

In [216]:
df.DESC.unique()

array(['REGULAR', 'RECOVR AUD'], dtype=object)

In [224]:
df[df.DESC == 'RECOVR AUD'].head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1113,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,143112,85613
1155,A010,R080,00-00-01,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,12250490,4537590
1197,A010,R080,00-00-02,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,8936510,3456835
1239,A010,R080,00-00-03,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,1865400,918583
1281,A010,R080,00-00-04,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,2550498,1228635

In [222]:
df.iloc[[1110, 1112, 1113, 1114, 1115]]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1110,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,00:00:00,REGULAR,142599,84827
1112,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,08:00:00,REGULAR,142744,85024
1113,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,12:00:00,RECOVR AUD,143112,85613
1114,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,16:00:00,REGULAR,143638,85933
1115,A010,R080,00-00-00,57 ST-7 AVE,NQR,BMT,04/28/2015,20:00:00,REGULAR,144687,86304

In this dataset there are only two different types, REGULAR and RECOVR AUD. Fortunately RECOVR AUD does not require any further thought as it gives the same reading as REGULAR, but as a backup communication.

## Scraping Files

I'm choosing the last complete month to do analysis on which is May 2015. The MTA collect data weekly, so I'm also going to take the last week of April, and the first month of June.

The files are available for download here: http://web.mta.info/developers/turnstile.html

I'll be using the python module Beautiful Soup to parse the html in order to find the relevant hyperlinks quickly.

There was an odd error with beautiful soup - some byte code on the page couldn't be converted to ASCII characters. After a quick google, I found the following fix on stackoverflow.

In [132]:
# Work around for byte-ASCII error in bs.
import sys  

reload(sys)  
sys.setdefaultencoding('utf8')

In [133]:
# URL of MTA data.
URL = 'http://web.mta.info/developers/turnstile.html'

# Parse the html using bs to find the hyperlinks.
r = requests.get(URL)
soup = bs(r.text)
hyperlinks = soup.findAll('a')

# Initialize array to hold all of the URLs on the page.
urls = []

# Loop through the hyperlinks, parsing just the links themselves.
for each in hyperlinks:
    link = each.get('href')
    
    # Only add links which are in the data directory, and are text files.
    if link and link.endswith('.txt') and link.startswith('data/'):
        urls.append(link)

In [134]:
# Initialize array to hold all of the dates from the URLs collected.
dates = []

# Split the URLs up in order to get just the dates.
for each in urls:
    filename = each.split('/')[-1]
    filename.find('turnstile_')
    index = filename.find('turnstile_')
    date = filename[index+len('turnstile_'):].split('.')[0]
    dates.append(date)

In [135]:
# Initialize set to store the dates to download.
dates_to_download = Set([])

# Loop through the dates, and take the appropriate ones.
for i, date in enumerate(dates):
    # Only 2015.
    if date[:2] == '15':
        # Take all of May, the last week of April, and the first week of June.
        if date[2:4] == '05':
            dates_to_download.update([dates[i-1], dates[i], dates[i+1]])

# Convert the set to an array.            
dates_to_download = list(dates_to_download)

In [136]:
dates_to_download = sorted(dates_to_download)
#dates_to_download = ['150425', '150502', '150509', '150516', '150523', '150530', '150606']
dates_to_download

['150425', '150502', '150509', '150516', '150523', '150530', '150606']

In [137]:
l = len(dates_to_download)

# Loop through the dates, downloading the corresponding file.
for i in range(l):
    date = dates_to_download[i]
    download = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_{0}.txt'.format(date)

## Combining Files

Once all the neccessary subway data has been downloaded, it's time to combine it in some fashion. One possbility is to load all the files into invididual dataframes using pandas, and then merging them and writing. Instead I decided to open the files one by one and write the contents into a new file, as this requires less memory usage.

In [160]:
def combine_turnstile_data(filenames):
    """
    Takes the turnstile filenames and writes them one by one into a new
    file.
    """
    
    # Open a new master file, and write in the header row.
    with open('updated_data/master_file.txt', 'w') as master_file:
        master_file.write('C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESCn,ENTRIES,EXITS\n')
    
        # Open all the files and write thme into master file.
        for filename in filenames:
            with open('data/turnstile/{0}.txt'.format(filename),'rb') as f:
                for row in f:
                    # Ignore the the header row.
                    if row.startswith('C/A'):
                        continue
                    master_file.write(row)

In [161]:
combine_turnstile_data(dates_to_download)

In [11]:
df_turnstile_master = pd.read_csv('updated_data/master_file.txt')

In [12]:
df_turnstile_master.head(1)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESCn,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/18/2015,00:00:00,REGULAR,5095940,1725998

##Preparing the Data

### Dates

It's very useful to have a datetime object within the DF in order to make calculations. I'll make a new columns named "DATE-TIME". This function automatically assumes the timestamp is

In [13]:
# Convert to datetime.
df_turnstile_master['DATE-TIME'] = pd.to_datetime(df_turnstile_master['DATE'] + " " + df_turnstile_master['TIME'])

#df_turnstile_master = df_turnstile_master.drop(['DATE', 'TIME'], axis=1)

In [14]:
df_turnstile_master = df_turnstile_master.drop(['DATE', 'TIME'], axis=1)

In [15]:
df_turnstile_master.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5095940,1725998,2015-04-18 00:00:00
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5095981,1726007,2015-04-18 04:00:00
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5096001,1726039,2015-04-18 08:00:00
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5096137,1726130,2015-04-18 12:00:00
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5096419,1726208,2015-04-18 16:00:00

In [16]:
df_turnstile_master['DATE-TIME'].iloc[0].date()

datetime.date(2015, 4, 18)

In [17]:
df_turnstile_master['DATE-TIME'].iloc[0].time()

datetime.time(0, 0)

### Removing Non-May Dates

In [18]:
# Checking if the dates are in order.
pd.Series(df_turnstile_master['DATE-TIME'].ravel()).unique()

array(['2015-04-18T01:00:00.000000000+0100',
       '2015-04-18T05:00:00.000000000+0100',
       '2015-04-18T09:00:00.000000000+0100', ...,
       '2015-06-01T08:37:09.000000000+0100',
       '2015-06-05T08:45:28.000000000+0100',
       '2015-06-01T08:37:13.000000000+0100'], dtype='datetime64[ns]')

Now I've got to remove the April and June dates from the data.

In [19]:
df_turnstile_master['DATE-TIME'].iloc[0]

Timestamp('2015-04-18 00:00:00')

In [20]:
before = df_turnstile_master.shape[0]

In [21]:
# Convert the date_n col to a datetime and extract the month.
month_filter =  pd.DatetimeIndex(df_turnstile_master['DATE-TIME']).month

In [22]:
month_filter

array([4, 4, 4, ..., 6, 6, 6])

In [23]:
# Convert to a Series in order to do filter operation on the df.
month_filter = pd.Series(month_filter)

In [24]:
# Subset the df, based on the month being May.
df_turnstile_master = df_turnstile_master[month_filter == 5]

In [25]:
after = df_turnstile_master.shape[0]

In [26]:
before

1343584

In [27]:
after

850343

In [29]:
df_turnstile_master.head(1)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME
191038,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115461,1732389,2015-05-01

In [32]:
starting_time = [datetime.time(0, 0), datetime.time(1, 0), datetime.time(2, 0), datetime.time(2, 0)]

print (df_turnstile_master['DATE-TIME'].iloc[0].date() == datetime.date(2015, 5, 1))
print (df_turnstile_master['DATE-TIME'].iloc[0].time() in starting_time)

True
True

In [35]:
df_turnstile_master = df_turnstile_master.reset_index()
df_turnstile_master = df_turnstile_master.drop(['index'], axis=1)

In [ ]:
df_turnstile_master = df_turnstile_master.drop(['level_0'], axis=1)

In [39]:
df_turnstile_master.head(1)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115461,1732389,2015-05-01

In [2]:
def cumulative_to_hourly(df):
    """
    
    
    """
    
    
    for i, entry in df.iterrows():
        id_ = entry['C/A'], entry['UNIT'], entry['SCP']
        #print entry
        
        
        # Check the DF for entries for this turnstile.

        previous_entries = df[(df['C/A']==entry['C/A']) & (df['UNIT']==entry['UNIT']) & 
                              (df['SCP']==entry['SCP']) & (df.index < i)]
        
        
        
        
        #print previous_entries
        
        # If this is the first entry then initialize to zero.
        if len(previous_entries) == 0:
        # if (entry['DATE-TIME'].date() == datetime.date(2015, 5, 1) and (entry['DATE-TIME'].time() in starting_time)):
            
            df.loc[i, 'HOURLY_ENTRIES'] = 0
            df.loc[i, 'HOURLY_EXITS'] = 0
            
            #starting_time = [datetime.time(0, 0), datetime.time(1, 0), datetime.time(2, 0), datetime.time(3, 0)]
            #print "\nFIRST ENTRY."
            #print "ID = {} \t DATE = {}\n".format(id_, entry['DATE-TIME'])

     
        # Otherwise, look up previous entry for that turnstile.
        else:
            #print "ID = {} \t DATE = {}".format(id_, entry['DATE-TIME'])
            
            # Get all the PREVIOUS entries for that turnstile.
            j = max(previous_entries.index)
            
            df.loc[i, 'HOURLY_ENTRIES'] = df.loc[i, 'ENTRIES'] - df.loc[j, 'ENTRIES']
            df.loc[i, 'HOURLY_EXITS'] = df.loc[i, 'EXITS'] - df.loc[j, 'EXITS']
            
            #print "i = {} \t j = {} \t  previous entries = {}".format(i, j, previous_entries.index)
            #print "CURRENT ENTRIES - OLD ENTRIES = {} - {}  = ".format(df.loc[i, 'ENTRIES'], df.loc[j, 'ENTRIES'], df.loc[i, 'ENTRIES'] - df.loc[j, 'ENTRIES'])
            #print "CURRENT EXITS - OLD EXITS = {} - {}  = \n".format(df.loc[i, 'EXITS'], df.loc[j, 'EXITS'], df.loc[i, 'EXITS'] - df.loc[j, 'EXITS'])

In [109]:
df_t100 = df_turnstile_master[:100]
df_t100.head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115461,1732389,2015-05-01 00:00:00,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115480,1732394,2015-05-01 04:00:00,19,5
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115524,1732482,2015-05-01 08:00:00,44,88
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115678,1732624,2015-05-01 12:00:00,154,142
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115998,1732647,2015-05-01 16:00:00,320,23

In [110]:
cumulative_to_hourly(df_t100)

In [111]:
df_t100

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115461,1732389,2015-05-01 00:00:00,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115480,1732394,2015-05-01 04:00:00,19,5
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115524,1732482,2015-05-01 08:00:00,44,88
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115678,1732624,2015-05-01 12:00:00,154,142
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115998,1732647,2015-05-01 16:00:00,320,23
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5116883,1732666,2015-05-01 20:00:00,885,19
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738746,1034160,2015-05-01 00:00:00,0,0
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738761,1034161,2015-05-01 04:00:00,15,1
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738804,1034199,2015-05-01 08:00:00,43,38
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738969,1034274,2015-05-01 12:00:00,165,75
10,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4739263,1034296,2015-05-01 16:00:00,294,22
11,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4740008,1034303,2015-05-01 20:00:00,745,7
12,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488569,1842807,2015-05-01 00:00:00,0,0
13,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488577,1842817,2015-05-01 04:00:00,8,10
14,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488593,1843078,2015-05-01 08:00:00,16,261
15,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488655,1843561,2015-05-01 12:00:00,62,483
16,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488802,1843726,2015-05-01 16:00:00,147,165
17,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,489193,1843971,2015-05-01 20:00:00,391,245
18,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684600,7368230,2015-05-01 00:00:00,0,0
19,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684636,7368244,2015-05-01 04:00:00,36,14
20,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684691,7368553,2015-05-01 08:00:00,55,309
21,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684873,7369311,2015-05-01 12:00:00,182,758
22,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685143,7369475,2015-05-01 16:00:00,270,164
23,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685875,7369845,2015-05-01 20:00:00,732,370
24,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416403,6080309,2015-05-01 00:00:00,0,0
25,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416424,6080327,2015-05-01 04:00:00,21,18
26,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416467,6080700,2015-05-01 08:00:00,43,373
27,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416661,6081512,2015-05-01 12:00:00,194,812
28,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416902,6081916,2015-05-01 16:00:00,241,404
29,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4417557,6082534,2015-05-01 20:00:00,655,618
...,...,...,...,...,...,...,...,...,...,...,...,...
70,A002,R051,02-06-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5667221,132943,2015-05-01 16:00:00,433,2
71,A002,R051,02-06-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5668109,132950,2015-05-01 20:00:00,888,7
72,A006,R079,00-00-00,5 AVE-59 ST,NQR,BMT,REGULAR,1613154,2912639,2015-05-01 02:00:00,0,0
73,A006,R079,00-00-00,5 AVE-59 ST,NQR,BMT,REGULAR,1613166,2912678,2015-05-01 06:00:00,12,39
74,A006,R079,00-00-00,5 AVE-59 ST,NQR,BMT,REGULAR,1613225,2913963,2015-05-01 10:00:00,59,1285
75,A006,R079,00-00-00,5 AVE-59 ST,NQR,BMT,REGULAR,1613443,2914860,2015-05-01 14:00:00,218,897
76,A006,R079,00-00-00,5 AVE-59 ST,NQR,BMT,REGULAR,1614217,2915582,2015-05-01 18:00:00,774,722
77,A006,R079,00-00-00,5 AVE-59 ST,NQR,BMT,REGULAR,1614922,2915935,2015-05-01 22:00:00,705,353
78,A006,R079,00-00-01,5 AVE-59 ST,NQR,BMT,REGULAR,2893331,1945340,2015-05-01 02:00:00,0,0
79,A006,R079,00-00-01,5 AVE-59 ST,NQR,BMT,REGULAR,2893339,1945349,2015-05-01 06:00:00,8,9
80,A006,R079,00-00-01,5 AVE-59 ST,NQR,BMT,REGULAR,2893416,1945719,2015-05-01 10:00:00,77,370
81,A006,R079,00-00-01,5 AVE-59 ST,NQR,BMT,REGULAR,2893666,1946038,2015-05-01 14:00:00,250,319
82,A006,R079,00-00-01,5 AVE-59 ST,NQR,BMT,REGULAR,2894491,1946297,2015-05-01 18:00:00,825,259
83,A006,R079,00-00-01,5 AVE-59 ST,NQR,BMT,REGULAR,2895123,1946410,2015-05-01 22:00:00,632,113
84,A006,R079,00-00-02,5 AVE-59 ST,NQR,BMT,REGULAR,6882032,3079558,2015-05-01 02:00:00,0,0
85,A006,R079,00-00-02,5 AVE-59 ST,NQR,BMT,REGULAR,6882038,3079563,2015-05-01 06:00:00,6,5
86,A006,R079,00-00-02,5 AVE-59 ST,NQR,BMT,REGULAR,6882093,3079827,2015-05-01 10:00:00,55,264
87,A006,R079,00-00-02,5 AVE-59 ST,NQR,BMT,REGULAR,6882279,3079968,2015-05-01 14:00:00,186,141
88,A006,R079,00-00-02,5 AVE-59 ST,NQR,BMT,REGULAR,6882973,3080084,2015-05-01 18:00:00,694,116
89,A006,R079,00-00-02,5 AVE-59 ST,NQR,BMT,REGULAR,6883464,3080135,2015-05-01 22:00:00,491,51
90,A006,R079,00-00-03,5 AVE-59 ST,NQR,BMT,REGULAR,1620408,622184,2015-05-01 02:00:00,0,0
91,A006,R079,00-00-03,5 AVE-59 ST,NQR,BMT,REGULAR,1620410,622188,2015-05-01 06:00:00,2,4
92,A006,R079,00-00-03,5 AVE-59 ST,NQR,BMT,REGULAR,1620463,622398,2015-05-01 10:00:00,53,210
93,A006,R079,00-00-03,5 AVE-59 ST,NQR,BMT,REGULAR,1620598,622499,2015-05-01 14:00:00,135,101
94,A006,R079,00-00-03,5 AVE-59 ST,NQR,BMT,REGULAR,1621228,622576,2015-05-01 18:00:00,630,77
95,A006,R079,00-00-03,5 AVE-59 ST,NQR,BMT,REGULAR,1621595,622618,2015-05-01 22:00:00,367,42
96,A006,R079,00-00-04,5 AVE-59 ST,NQR,BMT,REGULAR,6359830,2837921,2015-05-01 02:00:00,0,0
97,A006,R079,00-00-04,5 AVE-59 ST,NQR,BMT,REGULAR,6359833,2837928,2015-05-01 06:00:00,3,7
98,A006,R079,00-00-04,5 AVE-59 ST,NQR,BMT,REGULAR,6359880,2838173,2015-05-01 10:00:00,47,245
99,A006,R079,00-00-04,5 AVE-59 ST,NQR,BMT,REGULAR,6360032,2838258,2015-05-01 14:00:00,152,85

In [112]:
df_t1000 = df_turnstile_master[:1000]
cumulative_to_hourly(df_t1000)
# Worked Fine.

In [113]:
df_t1000

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115461,1732389,2015-05-01 00:00:00,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115480,1732394,2015-05-01 04:00:00,19,5
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115524,1732482,2015-05-01 08:00:00,44,88
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115678,1732624,2015-05-01 12:00:00,154,142
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115998,1732647,2015-05-01 16:00:00,320,23
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5116883,1732666,2015-05-01 20:00:00,885,19
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738746,1034160,2015-05-01 00:00:00,0,0
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738761,1034161,2015-05-01 04:00:00,15,1
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738804,1034199,2015-05-01 08:00:00,43,38
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738969,1034274,2015-05-01 12:00:00,165,75
10,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4739263,1034296,2015-05-01 16:00:00,294,22
11,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4740008,1034303,2015-05-01 20:00:00,745,7
12,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488569,1842807,2015-05-01 00:00:00,0,0
13,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488577,1842817,2015-05-01 04:00:00,8,10
14,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488593,1843078,2015-05-01 08:00:00,16,261
15,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488655,1843561,2015-05-01 12:00:00,62,483
16,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488802,1843726,2015-05-01 16:00:00,147,165
17,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,489193,1843971,2015-05-01 20:00:00,391,245
18,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684600,7368230,2015-05-01 00:00:00,0,0
19,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684636,7368244,2015-05-01 04:00:00,36,14
20,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684691,7368553,2015-05-01 08:00:00,55,309
21,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684873,7369311,2015-05-01 12:00:00,182,758
22,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685143,7369475,2015-05-01 16:00:00,270,164
23,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685875,7369845,2015-05-01 20:00:00,732,370
24,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416403,6080309,2015-05-01 00:00:00,0,0
25,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416424,6080327,2015-05-01 04:00:00,21,18
26,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416467,6080700,2015-05-01 08:00:00,43,373
27,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416661,6081512,2015-05-01 12:00:00,194,812
28,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416902,6081916,2015-05-01 16:00:00,241,404
29,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4417557,6082534,2015-05-01 20:00:00,655,618
...,...,...,...,...,...,...,...,...,...,...,...,...
970,A043,R462,00-06-02,CANAL ST,JNQRZ6,BMT,REGULAR,5361964,5340067,2015-05-01 17:00:00,380,281
971,A043,R462,00-06-02,CANAL ST,JNQRZ6,BMT,REGULAR,5362480,5340278,2015-05-01 21:00:00,516,211
972,A046,R463,00-00-00,CANAL ST,JNQRZ6,BMT,REGULAR,3192584,312483,2015-05-01 01:00:00,0,0
973,A046,R463,00-00-00,CANAL ST,JNQRZ6,BMT,REGULAR,3192585,312484,2015-05-01 05:00:00,1,1
974,A046,R463,00-00-00,CANAL ST,JNQRZ6,BMT,REGULAR,3192625,312497,2015-05-01 09:00:00,40,13
975,A046,R463,00-00-00,CANAL ST,JNQRZ6,BMT,REGULAR,3192746,312511,2015-05-01 13:00:00,121,14
976,A046,R463,00-00-00,CANAL ST,JNQRZ6,BMT,REGULAR,3193035,312541,2015-05-01 17:00:00,289,30
977,A046,R463,00-00-00,CANAL ST,JNQRZ6,BMT,REGULAR,3193439,312556,2015-05-01 21:00:00,404,15
978,A046,R463,00-00-01,CANAL ST,JNQRZ6,BMT,REGULAR,6784673,408832,2015-05-01 01:00:00,0,0
979,A046,R463,00-00-01,CANAL ST,JNQRZ6,BMT,REGULAR,6784679,408833,2015-05-01 05:00:00,6,1
980,A046,R463,00-00-01,CANAL ST,JNQRZ6,BMT,REGULAR,6784787,408846,2015-05-01 09:00:00,108,13
981,A046,R463,00-00-01,CANAL ST,JNQRZ6,BMT,REGULAR,6785062,408870,2015-05-01 13:00:00,275,24
982,A046,R463,00-00-01,CANAL ST,JNQRZ6,BMT,REGULAR,6785576,408903,2015-05-01 17:00:00,514,33
983,A046,R463,00-00-01,CANAL ST,JNQRZ6,BMT,REGULAR,6786200,408913,2015-05-01 21:00:00,624,10
984,A046,R463,00-00-02,CANAL ST,JNQRZ6,BMT,REGULAR,6740581,386327,2015-05-01 01:00:00,0,0
985,A046,R463,00-00-02,CANAL ST,JNQRZ6,BMT,REGULAR,6740600,386330,2015-05-01 05:00:00,19,3
986,A046,R463,00-00-02,CANAL ST,JNQRZ6,BMT,REGULAR,6740793,386339,2015-05-01 09:00:00,193,9
987,A046,R463,00-00-02,CANAL ST,JNQRZ6,BMT,REGULAR,6741211,386378,2015-05-01 13:00:00,418,39
988,A046,R463,00-00-02,CANAL ST,JNQRZ6,BMT,REGULAR,6741845,386415,2015-05-01 17:00:00,634,37
989,A046,R463,00-00-02,CANAL ST,JNQRZ6,BMT,REGULAR,6742615,386429,2015-05-01 21:00:00,770,14
990,A046,R463,00-00-03,CANAL ST,JNQRZ6,BMT,REGULAR,3032464,273228,2015-05-01 01:00:00,0,0
991,A046,R463,00-00-03,CANAL ST,JNQRZ6,BMT,REGULAR,3032487,273229,2015-05-01 05:00:00,23,1
992,A046,R463,00-00-03,CANAL ST,JNQRZ6,BMT,REGULAR,3032597,273254,2015-05-01 09:00:00,110,25
993,A046,R463,00-00-03,CANAL ST,JNQRZ6,BMT,REGULAR,3032996,273311,2015-05-01 13:00:00,399,57
994,A046,R463,00-00-03,CANAL ST,JNQRZ6,BMT,REGULAR,3033606,273375,2015-05-01 17:00:00,610,64
995,A046,R463,00-00-03,CANAL ST,JNQRZ6,BMT,REGULAR,3034290,273414,2015-05-01 21:00:00,684,39
996,A046,R463,00-03-00,CANAL ST,JNQRZ6,BMT,REGULAR,7534745,6008910,2015-05-01 01:00:00,0,0
997,A046,R463,00-03-00,CANAL ST,JNQRZ6,BMT,REGULAR,7534758,6008927,2015-05-01 05:00:00,13,17
998,A046,R463,00-03-00,CANAL ST,JNQRZ6,BMT,REGULAR,7534836,6009079,2015-05-01 09:00:00,78,152
999,A046,R463,00-03-00,CANAL ST,JNQRZ6,BMT,REGULAR,7535013,6009350,2015-05-01 13:00:00,177,271

In [116]:
df_t2000 = df_turnstile_master[:2000]
cumulative_to_hourly(df_t2000)

In [117]:
df_t2000

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115461,1732389,2015-05-01 00:00:00,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115480,1732394,2015-05-01 04:00:00,19,5
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115524,1732482,2015-05-01 08:00:00,44,88
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115678,1732624,2015-05-01 12:00:00,154,142
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115998,1732647,2015-05-01 16:00:00,320,23
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5116883,1732666,2015-05-01 20:00:00,885,19
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738746,1034160,2015-05-01 00:00:00,0,0
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738761,1034161,2015-05-01 04:00:00,15,1
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738804,1034199,2015-05-01 08:00:00,43,38
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738969,1034274,2015-05-01 12:00:00,165,75
10,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4739263,1034296,2015-05-01 16:00:00,294,22
11,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4740008,1034303,2015-05-01 20:00:00,745,7
12,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488569,1842807,2015-05-01 00:00:00,0,0
13,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488577,1842817,2015-05-01 04:00:00,8,10
14,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488593,1843078,2015-05-01 08:00:00,16,261
15,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488655,1843561,2015-05-01 12:00:00,62,483
16,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488802,1843726,2015-05-01 16:00:00,147,165
17,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,489193,1843971,2015-05-01 20:00:00,391,245
18,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684600,7368230,2015-05-01 00:00:00,0,0
19,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684636,7368244,2015-05-01 04:00:00,36,14
20,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684691,7368553,2015-05-01 08:00:00,55,309
21,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684873,7369311,2015-05-01 12:00:00,182,758
22,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685143,7369475,2015-05-01 16:00:00,270,164
23,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685875,7369845,2015-05-01 20:00:00,732,370
24,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416403,6080309,2015-05-01 00:00:00,0,0
25,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416424,6080327,2015-05-01 04:00:00,21,18
26,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416467,6080700,2015-05-01 08:00:00,43,373
27,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416661,6081512,2015-05-01 12:00:00,194,812
28,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416902,6081916,2015-05-01 16:00:00,241,404
29,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4417557,6082534,2015-05-01 20:00:00,655,618
...,...,...,...,...,...,...,...,...,...,...,...,...
1970,B015,R098,01-03-00,CHURCH AVE,BQ,BMT,REGULAR,965731,926676,2015-05-01 08:00:00,243,14
1971,B015,R098,01-03-00,CHURCH AVE,BQ,BMT,REGULAR,966066,926740,2015-05-01 12:00:00,335,64
1972,B015,R098,01-03-00,CHURCH AVE,BQ,BMT,REGULAR,966212,926938,2015-05-01 16:00:00,146,198
1973,B015,R098,01-03-00,CHURCH AVE,BQ,BMT,REGULAR,966362,927327,2015-05-01 20:00:00,150,389
1974,B015,R098,01-03-01,CHURCH AVE,BQ,BMT,REGULAR,2541949,13165092,2015-05-01 00:00:00,0,0
1975,B015,R098,01-03-01,CHURCH AVE,BQ,BMT,REGULAR,2541951,13165283,2015-05-01 04:00:00,2,191
1976,B015,R098,01-03-01,CHURCH AVE,BQ,BMT,REGULAR,2542100,13165386,2015-05-01 08:00:00,149,103
1977,B015,R098,01-03-01,CHURCH AVE,BQ,BMT,REGULAR,2542305,13165638,2015-05-01 12:00:00,205,252
1978,B015,R098,01-03-01,CHURCH AVE,BQ,BMT,REGULAR,2542381,13166088,2015-05-01 16:00:00,76,450
1979,B015,R098,01-03-01,CHURCH AVE,BQ,BMT,REGULAR,2542453,13167191,2015-05-01 20:00:00,72,1103
1980,B015,R098,01-06-00,CHURCH AVE,BQ,BMT,REGULAR,203386,985519,2015-05-01 00:00:00,0,0
1981,B015,R098,01-06-00,CHURCH AVE,BQ,BMT,REGULAR,203387,985527,2015-05-01 04:00:00,1,8
1982,B015,R098,01-06-00,CHURCH AVE,BQ,BMT,REGULAR,203400,985542,2015-05-01 08:00:00,13,15
1983,B015,R098,01-06-00,CHURCH AVE,BQ,BMT,REGULAR,203417,985569,2015-05-01 12:00:00,17,27
1984,B015,R098,01-06-00,CHURCH AVE,BQ,BMT,REGULAR,203426,985623,2015-05-01 16:00:00,9,54
1985,B015,R098,01-06-00,CHURCH AVE,BQ,BMT,REGULAR,203432,985798,2015-05-01 20:00:00,6,175
1986,B016,R098,00-00-00,CHURCH AVE,BQ,BMT,REGULAR,7713492,14393749,2015-05-01 00:00:00,0,0
1987,B016,R098,00-00-00,CHURCH AVE,BQ,BMT,REGULAR,7713502,14393855,2015-05-01 04:00:00,10,106
1988,B016,R098,00-00-00,CHURCH AVE,BQ,BMT,REGULAR,7713737,14394007,2015-05-01 08:00:00,235,152
1989,B016,R098,00-00-00,CHURCH AVE,BQ,BMT,REGULAR,7713997,14394330,2015-05-01 12:00:00,260,323
1990,B016,R098,00-00-00,CHURCH AVE,BQ,BMT,REGULAR,7714166,14394811,2015-05-01 16:00:00,169,481
1991,B016,R098,00-00-00,CHURCH AVE,BQ,BMT,REGULAR,7714325,14395903,2015-05-01 20:00:00,159,1092
1992,B016,R098,00-00-01,CHURCH AVE,BQ,BMT,REGULAR,645780,1409389,2015-05-01 00:00:00,0,0
1993,B016,R098,00-00-01,CHURCH AVE,BQ,BMT,REGULAR,645797,1409518,2015-05-01 04:00:00,17,129
1994,B016,R098,00-00-01,CHURCH AVE,BQ,BMT,REGULAR,646101,1409642,2015-05-01 08:00:00,304,124
1995,B016,R098,00-00-01,CHURCH AVE,BQ,BMT,REGULAR,646429,1410010,2015-05-01 12:00:00,328,368
1996,B016,R098,00-00-01,CHURCH AVE,BQ,BMT,REGULAR,646679,1410549,2015-05-01 16:00:00,250,539
1997,B016,R098,00-00-01,CHURCH AVE,BQ,BMT,REGULAR,646903,1411766,2015-05-01 20:00:00,224,1217
1998,B016,R098,00-00-02,CHURCH AVE,BQ,BMT,REGULAR,8699247,12913434,2015-05-01 00:00:00,0,0
1999,B016,R098,00-00-02,CHURCH AVE,BQ,BMT,REGULAR,8699271,12913551,2015-05-01 04:00:00,24,117

In [121]:
df_t2000[pd.isnull(df_t2000).any(1)]

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DESCn, ENTRIES, EXITS, DATE-TIME, HOURLY_ENTRIES, HOURLY_EXITS]
Index: []

In [119]:
def check_turnstile(df, CA, UNIT, SCP):
    
    return df[(df['C/A']==CA) & (df['UNIT']==UNIT) & (df['SCP']==SCP)]

In [120]:
a = check_turnstile(df_t2000, 'A077', 'R028', '03-00-00')
a

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS
1632,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,REGULAR,1307486,377050,2015-05-01 03:00:00,0,0
1633,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,REGULAR,1307500,377064,2015-05-01 07:00:00,14,14
1634,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,REGULAR,1307593,377176,2015-05-01 11:00:00,93,112
1635,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,REGULAR,1307734,377208,2015-05-01 15:00:00,141,32
1636,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,REGULAR,1308360,377260,2015-05-01 19:00:00,626,52
1637,A077,R028,03-00-00,FULTON ST,ACJZ2345,BMT,REGULAR,1308519,377279,2015-05-01 23:00:00,159,19

In [153]:
df_turnstile_master[pd.isnull(df_turnstile_master).any(1)] # 158739 - 165325 - 200000 - 200269 - 210000

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DESCn, ENTRIES, EXITS, DATE-TIME, HOURLY_ENTRIES, HOURLY_EXITS]
Index: []

850343

Did this on 22/07 after realizing only the date was exported... have to redo the cumulative to hourly function.

"master_file" still has March dates etc need to redo that.

In [5]:
df_turnstile_master = pd.read_csv('updated_data/master_file.txt')

In [6]:
df_turnstile_master.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESCn,ENTRIES,EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/18/2015,00:00:00,REGULAR,5095940,1725998
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/18/2015,04:00:00,REGULAR,5095981,1726007
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/18/2015,08:00:00,REGULAR,5096001,1726039
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/18/2015,12:00:00,REGULAR,5096137,1726130
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,04/18/2015,16:00:00,REGULAR,5096419,1726208

In [7]:
l = len(df_turnstile_master)
l

1343584

In [8]:
base, step = 0, 1000
for i in range(base, l, step):
    print "{}\t {} \t STARTED AT {}".format(base - step, i, datetime.datetime.now().time())
    cumulative_to_hourly(df_turnstile_master[base - step:i])
    print "DONE AT {}".format(datetime.datetime.now().time())
    base += step

-1000	 0 	 STARTED AT 19:35:51.106000
DONE AT 19:35:51.107000
0	 1000 	 STARTED AT 19:35:51.107000

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = np.nan
C:\Anaconda\lib\site-packages\pandas\core\indexing.py:415: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

KeyboardInterrupt:

In [53]:
df_turnstile_master.loc[27465]['DATE-TIME'].date()

datetime.date(2015, 5, 1)

In [154]:
df_turnstile_master

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115461,1732389,2015-05-01 00:00:00,0,0
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115480,1732394,2015-05-01 04:00:00,19,5
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115524,1732482,2015-05-01 08:00:00,44,88
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115678,1732624,2015-05-01 12:00:00,154,142
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115998,1732647,2015-05-01 16:00:00,320,23
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5116883,1732666,2015-05-01 20:00:00,885,19
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738746,1034160,2015-05-01 00:00:00,0,0
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738761,1034161,2015-05-01 04:00:00,15,1
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738804,1034199,2015-05-01 08:00:00,43,38
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738969,1034274,2015-05-01 12:00:00,165,75
10,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4739263,1034296,2015-05-01 16:00:00,294,22
11,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4740008,1034303,2015-05-01 20:00:00,745,7
12,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488569,1842807,2015-05-01 00:00:00,0,0
13,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488577,1842817,2015-05-01 04:00:00,8,10
14,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488593,1843078,2015-05-01 08:00:00,16,261
15,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488655,1843561,2015-05-01 12:00:00,62,483
16,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488802,1843726,2015-05-01 16:00:00,147,165
17,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,489193,1843971,2015-05-01 20:00:00,391,245
18,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684600,7368230,2015-05-01 00:00:00,0,0
19,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684636,7368244,2015-05-01 04:00:00,36,14
20,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684691,7368553,2015-05-01 08:00:00,55,309
21,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684873,7369311,2015-05-01 12:00:00,182,758
22,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685143,7369475,2015-05-01 16:00:00,270,164
23,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685875,7369845,2015-05-01 20:00:00,732,370
24,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416403,6080309,2015-05-01 00:00:00,0,0
25,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416424,6080327,2015-05-01 04:00:00,21,18
26,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416467,6080700,2015-05-01 08:00:00,43,373
27,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416661,6081512,2015-05-01 12:00:00,194,812
28,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416902,6081916,2015-05-01 16:00:00,241,404
29,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4417557,6082534,2015-05-01 20:00:00,655,618
...,...,...,...,...,...,...,...,...,...,...,...,...
850313,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519583,372794,2015-05-31 01:00:00,29,6
850314,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519588,372794,2015-05-31 05:00:00,5,0
850315,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519595,372797,2015-05-31 09:00:00,7,3
850316,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519666,372800,2015-05-31 13:00:00,71,3
850317,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519830,372806,2015-05-31 17:00:00,164,6
850318,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519900,372811,2015-05-31 21:00:00,70,5
850319,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 01:00:00,0,0
850320,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 05:00:00,0,0
850321,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 09:00:00,0,0
850322,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 13:00:00,0,0
850323,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 17:00:00,0,0
850324,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 21:00:00,0,0
850325,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-31 01:00:00,0,0
850326,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-31 05:00:00,0,0
850327,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-31 09:00:00,0,0
850328,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-31 13:00:00,0,0
850329,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1828,62,2015-05-31 17:00:00,1,0
850330,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1828,62,2015-05-31 21:00:00,0,0
850331,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 01:00:00,0,0
850332,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 05:00:00,0,0
850333,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 09:00:00,0,0
850334,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 13:00:00,0,0
850335,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 17:00:00,0,0
850336,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 21:00:00,0,0
850337,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 01:00:00,0,0
850338,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 05:00:00,0,0
850339,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 09:00:00,0,0
850340,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 13:00:00,0,0
850341,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 17:00:00,0,0
850342,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 21:00:00,0,0

###Adding Weekday

In [157]:
df_turnstile_master['WEEKDAY'] = df_turnstile_master['DATE-TIME'].apply(lambda x: x.weekday())

In [158]:
df_turnstile_master

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS,WEEKDAY
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115461,1732389,2015-05-01 00:00:00,0,0,4
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115480,1732394,2015-05-01 04:00:00,19,5,4
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115524,1732482,2015-05-01 08:00:00,44,88,4
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115678,1732624,2015-05-01 12:00:00,154,142,4
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115998,1732647,2015-05-01 16:00:00,320,23,4
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5116883,1732666,2015-05-01 20:00:00,885,19,4
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738746,1034160,2015-05-01 00:00:00,0,0,4
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738761,1034161,2015-05-01 04:00:00,15,1,4
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738804,1034199,2015-05-01 08:00:00,43,38,4
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738969,1034274,2015-05-01 12:00:00,165,75,4
10,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4739263,1034296,2015-05-01 16:00:00,294,22,4
11,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4740008,1034303,2015-05-01 20:00:00,745,7,4
12,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488569,1842807,2015-05-01 00:00:00,0,0,4
13,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488577,1842817,2015-05-01 04:00:00,8,10,4
14,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488593,1843078,2015-05-01 08:00:00,16,261,4
15,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488655,1843561,2015-05-01 12:00:00,62,483,4
16,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488802,1843726,2015-05-01 16:00:00,147,165,4
17,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,489193,1843971,2015-05-01 20:00:00,391,245,4
18,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684600,7368230,2015-05-01 00:00:00,0,0,4
19,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684636,7368244,2015-05-01 04:00:00,36,14,4
20,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684691,7368553,2015-05-01 08:00:00,55,309,4
21,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684873,7369311,2015-05-01 12:00:00,182,758,4
22,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685143,7369475,2015-05-01 16:00:00,270,164,4
23,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685875,7369845,2015-05-01 20:00:00,732,370,4
24,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416403,6080309,2015-05-01 00:00:00,0,0,4
25,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416424,6080327,2015-05-01 04:00:00,21,18,4
26,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416467,6080700,2015-05-01 08:00:00,43,373,4
27,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416661,6081512,2015-05-01 12:00:00,194,812,4
28,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416902,6081916,2015-05-01 16:00:00,241,404,4
29,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4417557,6082534,2015-05-01 20:00:00,655,618,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
850313,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519583,372794,2015-05-31 01:00:00,29,6,6
850314,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519588,372794,2015-05-31 05:00:00,5,0,6
850315,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519595,372797,2015-05-31 09:00:00,7,3,6
850316,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519666,372800,2015-05-31 13:00:00,71,3,6
850317,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519830,372806,2015-05-31 17:00:00,164,6,6
850318,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,REGULAR,2519900,372811,2015-05-31 21:00:00,70,5,6
850319,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 01:00:00,0,0,5
850320,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 05:00:00,0,0,5
850321,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 09:00:00,0,0,5
850322,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 13:00:00,0,0,5
850323,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 17:00:00,0,0,5
850324,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-30 21:00:00,0,0,5
850325,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-31 01:00:00,0,0,6
850326,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-31 05:00:00,0,0,6
850327,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-31 09:00:00,0,0,6
850328,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1827,62,2015-05-31 13:00:00,0,0,6
850329,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1828,62,2015-05-31 17:00:00,1,0,6
850330,TRAM2,R469,00-05-00,RIT-ROOSEVELT,R,RIT,REGULAR,1828,62,2015-05-31 21:00:00,0,0,6
850331,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 01:00:00,0,0,5
850332,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 05:00:00,0,0,5
850333,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 09:00:00,0,0,5
850334,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 13:00:00,0,0,5
850335,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 17:00:00,0,0,5
850336,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-30 21:00:00,0,0,5
850337,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 01:00:00,0,0,6
850338,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 05:00:00,0,0,6
850339,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 09:00:00,0,0,6
850340,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 13:00:00,0,0,6
850341,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 17:00:00,0,0,6
850342,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,REGULAR,5554,212,2015-05-31 21:00:00,0,0,6

### Removing Non-Hour Entries

In [174]:
df_turnstile_master.shape

(850343, 13)

In [179]:
filter_onhour = [((pd.to_datetime(df_turnstile_master['DATE-TIME'][n])).minute != 0) for n in range(len(df_turnstile_master))]
df_turnstile_master2 = df_turnstile_master.drop(list(df_turnstile_master.loc[filter_onhour].index))

In [180]:
df_turnstile_master2.shape

(780713, 13)

##Exporting Final File

In [181]:
df_turnstile_master2.to_csv('data/final/turnstile_final.csv', index=False, date_format='%Y-%m-%d')

In [182]:
df_turnstile_master2.head(1)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS,WEEKDAY
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115461,1732389,2015-05-01,0,0,4

Testing if all on hour

In [164]:
d1000 = df_turnstile_master[:5000]

In [165]:
filter_onhour = [((pd.to_datetime(d1000['DATE-TIME'][n])).minute != 0) for n in range(len(d1000))]
filter_onhour

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 ...]

In [166]:
d1000[filter_onhour]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS,WEEKDAY
3045,C016,R278,00-00-00,25 ST,R,BMT,REGULAR,1176050,1060328,2015-05-01 10:01:09,168,83,4
3052,C016,R278,00-00-01,25 ST,R,BMT,REGULAR,350318,88577,2015-05-01 10:01:09,230,64,4
3059,C016,R278,00-00-02,25 ST,R,BMT,REGULAR,8790739,2489748,2015-05-01 10:01:09,449,125,4
4299,H008,R248,01-00-00,1 AVE,L,BMT,REGULAR,528598,7653778,2015-05-01 07:40:54,5,280,4
4306,H008,R248,01-00-01,1 AVE,L,BMT,REGULAR,1702825,9762109,2015-05-01 07:40:54,16,322,4
4313,H008,R248,01-00-02,1 AVE,L,BMT,REGULAR,7053093,17351657,2015-05-01 07:40:54,36,279,4
4320,H008,R248,01-00-03,1 AVE,L,BMT,REGULAR,13423202,11072730,2015-05-01 07:40:54,92,239,4
4327,H008,R248,01-00-04,1 AVE,L,BMT,REGULAR,3224700,353131,2015-05-01 07:40:54,200,89,4
4994,JFK03,R536,00-00-01,JFK JAMAICA CT1,E,IND,RECOVR AUD,5930,6496,2015-05-01 06:40:45,9,6,4
4995,JFK03,R536,00-00-01,JFK JAMAICA CT1,E,IND,RECOVR AUD,5942,6506,2015-05-01 07:30:25,12,10,4
4996,JFK03,R536,00-00-01,JFK JAMAICA CT1,E,IND,RECOVR AUD,5942,6506,2015-05-01 07:31:59,0,0,4
4997,JFK03,R536,00-00-01,JFK JAMAICA CT1,E,IND,RECOVR AUD,5947,6522,2015-05-01 08:11:16,5,16,4
4999,JFK03,R536,00-00-01,JFK JAMAICA CT1,E,IND,RECOVR AUD,5965,6530,2015-05-01 09:16:34,7,0,4

In [167]:
d1000 = d1000.drop(list(d1000.loc[filter_onhour].index))

In [168]:
d1000

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS,WEEKDAY
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115461,1732389,2015-05-01 00:00:00,0,0,4
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115480,1732394,2015-05-01 04:00:00,19,5,4
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115524,1732482,2015-05-01 08:00:00,44,88,4
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115678,1732624,2015-05-01 12:00:00,154,142,4
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5115998,1732647,2015-05-01 16:00:00,320,23,4
5,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,REGULAR,5116883,1732666,2015-05-01 20:00:00,885,19,4
6,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738746,1034160,2015-05-01 00:00:00,0,0,4
7,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738761,1034161,2015-05-01 04:00:00,15,1,4
8,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738804,1034199,2015-05-01 08:00:00,43,38,4
9,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4738969,1034274,2015-05-01 12:00:00,165,75,4
10,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4739263,1034296,2015-05-01 16:00:00,294,22,4
11,A002,R051,02-00-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4740008,1034303,2015-05-01 20:00:00,745,7,4
12,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488569,1842807,2015-05-01 00:00:00,0,0,4
13,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488577,1842817,2015-05-01 04:00:00,8,10,4
14,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488593,1843078,2015-05-01 08:00:00,16,261,4
15,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488655,1843561,2015-05-01 12:00:00,62,483,4
16,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,488802,1843726,2015-05-01 16:00:00,147,165,4
17,A002,R051,02-03-00,LEXINGTON AVE,NQR456,BMT,REGULAR,489193,1843971,2015-05-01 20:00:00,391,245,4
18,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684600,7368230,2015-05-01 00:00:00,0,0,4
19,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684636,7368244,2015-05-01 04:00:00,36,14,4
20,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684691,7368553,2015-05-01 08:00:00,55,309,4
21,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4684873,7369311,2015-05-01 12:00:00,182,758,4
22,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685143,7369475,2015-05-01 16:00:00,270,164,4
23,A002,R051,02-03-01,LEXINGTON AVE,NQR456,BMT,REGULAR,4685875,7369845,2015-05-01 20:00:00,732,370,4
24,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416403,6080309,2015-05-01 00:00:00,0,0,4
25,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416424,6080327,2015-05-01 04:00:00,21,18,4
26,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416467,6080700,2015-05-01 08:00:00,43,373,4
27,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416661,6081512,2015-05-01 12:00:00,194,812,4
28,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4416902,6081916,2015-05-01 16:00:00,241,404,4
29,A002,R051,02-03-02,LEXINGTON AVE,NQR456,BMT,REGULAR,4417557,6082534,2015-05-01 20:00:00,655,618,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4965,JFK02,R535,01-00-02,JFK HOWARD BCH,A,IND,REGULAR,777453,297610,2015-05-01 13:00:00,126,47,4
4966,JFK02,R535,01-00-02,JFK HOWARD BCH,A,IND,REGULAR,777658,297691,2015-05-01 17:00:00,205,81,4
4967,JFK02,R535,01-00-02,JFK HOWARD BCH,A,IND,REGULAR,777891,297754,2015-05-01 21:00:00,233,63,4
4968,JFK02,R535,01-00-03,JFK HOWARD BCH,A,IND,REGULAR,638455,319346,2015-05-01 01:00:00,0,0,4
4969,JFK02,R535,01-00-03,JFK HOWARD BCH,A,IND,REGULAR,638460,319365,2015-05-01 05:00:00,5,19,4
4970,JFK02,R535,01-00-03,JFK HOWARD BCH,A,IND,REGULAR,638509,319458,2015-05-01 09:00:00,49,93,4
4971,JFK02,R535,01-00-03,JFK HOWARD BCH,A,IND,REGULAR,638554,319554,2015-05-01 13:00:00,45,96,4
4972,JFK02,R535,01-00-03,JFK HOWARD BCH,A,IND,REGULAR,638657,319741,2015-05-01 17:00:00,103,187,4
4973,JFK02,R535,01-00-03,JFK HOWARD BCH,A,IND,REGULAR,638709,319952,2015-05-01 21:00:00,52,211,4
4974,JFK02,R535,01-00-04,JFK HOWARD BCH,A,IND,REGULAR,596115,200503,2015-05-01 01:00:00,0,0,4
4975,JFK02,R535,01-00-04,JFK HOWARD BCH,A,IND,REGULAR,596138,200504,2015-05-01 05:00:00,23,1,4
4976,JFK02,R535,01-00-04,JFK HOWARD BCH,A,IND,REGULAR,596202,200540,2015-05-01 09:00:00,64,36,4
4977,JFK02,R535,01-00-04,JFK HOWARD BCH,A,IND,REGULAR,596284,200567,2015-05-01 13:00:00,82,27,4
4978,JFK02,R535,01-00-04,JFK HOWARD BCH,A,IND,REGULAR,596465,200612,2015-05-01 17:00:00,181,45,4
4979,JFK02,R535,01-00-04,JFK HOWARD BCH,A,IND,REGULAR,596613,200656,2015-05-01 21:00:00,148,44,4
4980,JFK02,R535,01-00-05,JFK HOWARD BCH,A,IND,REGULAR,68910,17486,2015-05-01 01:00:00,0,0,4
4981,JFK02,R535,01-00-05,JFK HOWARD BCH,A,IND,REGULAR,68925,17486,2015-05-01 05:00:00,15,0,4
4982,JFK02,R535,01-00-05,JFK HOWARD BCH,A,IND,REGULAR,68969,17505,2015-05-01 09:00:00,44,19,4
4983,JFK02,R535,01-00-05,JFK HOWARD BCH,A,IND,REGULAR,69038,17508,2015-05-01 13:00:00,69,3,4
4984,JFK02,R535,01-00-05,JFK HOWARD BCH,A,IND,REGULAR,69176,17554,2015-05-01 17:00:00,138,46,4
4985,JFK02,R535,01-00-05,JFK HOWARD BCH,A,IND,REGULAR,69281,17577,2015-05-01 21:00:00,105,23,4
4986,JFK02,R535,01-00-06,JFK HOWARD BCH,A,IND,REGULAR,133101,64246,2015-05-01 01:00:00,0,0,4
4987,JFK02,R535,01-00-06,JFK HOWARD BCH,A,IND,REGULAR,133112,64248,2015-05-01 05:00:00,11,2,4
4988,JFK02,R535,01-00-06,JFK HOWARD BCH,A,IND,REGULAR,133125,64263,2015-05-01 09:00:00,13,15,4
4989,JFK02,R535,01-00-06,JFK HOWARD BCH,A,IND,REGULAR,133148,64267,2015-05-01 13:00:00,23,4,4
4990,JFK02,R535,01-00-06,JFK HOWARD BCH,A,IND,REGULAR,133238,64282,2015-05-01 17:00:00,90,15,4
4991,JFK02,R535,01-00-06,JFK HOWARD BCH,A,IND,REGULAR,133292,64308,2015-05-01 21:00:00,54,26,4
4992,JFK03,R536,00-00-01,JFK JAMAICA CT1,E,IND,REGULAR,5917,6488,2015-05-01 01:00:00,0,0,4
4993,JFK03,R536,00-00-01,JFK JAMAICA CT1,E,IND,REGULAR,5921,6490,2015-05-01 05:00:00,4,2,4
4998,JFK03,R536,00-00-01,JFK JAMAICA CT1,E,IND,REGULAR,5958,6530,2015-05-01 09:00:00,11,8,4

In [173]:
df_turnstile_master.shape

(850343, 13)

In [188]:
a = df_turnstile_master[df_turnstile_master['HOURLY_ENTRIES'] < 0]
a

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESCn,ENTRIES,EXITS,DATE-TIME,HOURLY_ENTRIES,HOURLY_EXITS,WEEKDAY
205,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,REGULAR,888974896,494721163,2015-05-01 04:00:00,-97,-46,4
206,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,REGULAR,888974791,494720674,2015-05-01 08:00:00,-105,-489,4
207,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,REGULAR,888974326,494719381,2015-05-01 12:00:00,-465,-1293,4
208,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,REGULAR,888973687,494718932,2015-05-01 16:00:00,-639,-449,4
209,A011,R080,01-00-00,57 ST-7 AVE,NQR,BMT,REGULAR,888972389,494718437,2015-05-01 20:00:00,-1298,-495,4
229,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,REGULAR,1895700979,1778236012,2015-05-01 04:00:00,-74,-11,4
230,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,REGULAR,1895700936,1778235799,2015-05-01 08:00:00,-43,-213,4
231,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,REGULAR,1895700701,1778234886,2015-05-01 12:00:00,-235,-913,4
232,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,REGULAR,1895700337,1778234423,2015-05-01 16:00:00,-364,-463,4
233,A011,R080,01-00-04,57 ST-7 AVE,NQR,BMT,REGULAR,1895699392,1778233881,2015-05-01 20:00:00,-945,-542,4
235,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,REGULAR,1224552071,1492964557,2015-05-01 04:00:00,-98,-21,4
236,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,REGULAR,1224552021,1492964247,2015-05-01 08:00:00,-50,-310,4
237,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,REGULAR,1224551795,1492963204,2015-05-01 12:00:00,-226,-1043,4
238,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,REGULAR,1224551273,1492962747,2015-05-01 16:00:00,-522,-457,4
239,A011,R080,01-00-05,57 ST-7 AVE,NQR,BMT,REGULAR,1224550030,1492962295,2015-05-01 20:00:00,-1243,-452,4
457,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,REGULAR,1558815328,2047714210,2015-05-01 04:00:00,-180,29,4
458,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,REGULAR,1558815185,2047714517,2015-05-01 08:00:00,-143,307,4
459,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,REGULAR,1558814573,2047715196,2015-05-01 12:00:00,-612,679,4
460,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,REGULAR,1558813804,2047715698,2015-05-01 16:00:00,-769,502,4
461,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,REGULAR,1558812357,2047716199,2015-05-01 20:00:00,-1447,501,4
1210,A049,R088,02-05-00,CORTLANDT ST,R,BMT,REGULAR,1058668455,22872086,2015-05-01 17:00:00,-1,0,4
1211,A049,R088,02-05-00,CORTLANDT ST,R,BMT,REGULAR,1058668454,22872086,2015-05-01 21:00:00,-1,0,4
4394,H009,R235,00-06-03,BEDFORD AVE,L,BMT,REGULAR,837281136,1418910380,2015-05-01 08:00:00,-179,181,4
4395,H009,R235,00-06-03,BEDFORD AVE,L,BMT,REGULAR,837280491,1418910830,2015-05-01 12:00:00,-645,450,4
4396,H009,R235,00-06-03,BEDFORD AVE,L,BMT,REGULAR,837280103,1418911336,2015-05-01 16:00:00,-388,506,4
4397,H009,R235,00-06-03,BEDFORD AVE,L,BMT,REGULAR,837279775,1418912690,2015-05-01 20:00:00,-328,1354,4
5602,J034,R007,00-00-02,104 ST,JZ,BMT,REGULAR,2026259305,622294702,2015-05-01 04:00:00,-4,-12,4
5603,J034,R007,00-00-02,104 ST,JZ,BMT,REGULAR,2026259131,622294670,2015-05-01 08:00:00,-174,-32,4
5604,J034,R007,00-00-02,104 ST,JZ,BMT,REGULAR,2026259039,622294633,2015-05-01 12:00:00,-92,-37,4
5605,J034,R007,00-00-02,104 ST,JZ,BMT,REGULAR,2026258969,622294587,2015-05-01 16:00:00,-70,-46,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
842082,R322,R386,00-00-02,174 ST,25,IRT,REGULAR,690347860,302181850,2015-05-30 21:00:00,-135,-62,5
842083,R322,R386,00-00-02,174 ST,25,IRT,REGULAR,690347786,302181788,2015-05-31 01:00:00,-74,-62,6
842084,R322,R386,00-00-02,174 ST,25,IRT,REGULAR,690347766,302181771,2015-05-31 05:00:00,-20,-17,6
842085,R322,R386,00-00-02,174 ST,25,IRT,REGULAR,690347677,302181755,2015-05-31 09:00:00,-89,-16,6
842086,R322,R386,00-00-02,174 ST,25,IRT,REGULAR,690347542,302181730,2015-05-31 13:00:00,-135,-25,6
842087,R322,R386,00-00-02,174 ST,25,IRT,REGULAR,690347384,302181681,2015-05-31 17:00:00,-158,-49,6
842088,R322,R386,00-00-02,174 ST,25,IRT,REGULAR,690347286,302181655,2015-05-31 21:00:00,-98,-26,6
844021,R422,R428,00-00-00,BUHRE AVE,6,IRT,REGULAR,1804,207,2015-05-30 21:00:00,-894619,-606800,5
848407,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267944367,2063434849,2015-05-30 04:00:00,-106,-76,5
848408,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267944081,2063434790,2015-05-30 08:00:00,-286,-59,5
848409,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267943474,2063434616,2015-05-30 12:00:00,-607,-174,5
848410,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267942599,2063434358,2015-05-30 16:00:00,-875,-258,5
848411,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267941888,2063434122,2015-05-30 20:00:00,-711,-236,5
848412,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267941443,2063433948,2015-05-31 00:00:00,-445,-174,6
848413,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267941281,2063433877,2015-05-31 04:00:00,-162,-71,6
848414,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267941091,2063433828,2015-05-31 08:00:00,-190,-49,6
848415,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267940385,2063433695,2015-05-31 12:00:00,-706,-133,6
848416,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267939568,2063433474,2015-05-31 16:00:00,-817,-221,6
848417,R622,R123,00-00-00,FRANKLIN AVE,2345S,IRT,REGULAR,267939034,2063433303,2015-05-31 20:00:00,-534,-171,6
849523,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508976264,1315208958,2015-05-30 05:00:00,-7,-27,5
849524,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508976153,1315208920,2015-05-30 09:00:00,-111,-38,5
849525,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508975986,1315208851,2015-05-30 13:00:00,-167,-69,5
849526,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508975835,1315208738,2015-05-30 17:00:00,-151,-113,5
849527,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508975730,1315208579,2015-05-30 21:00:00,-105,-159,5
849528,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508975658,1315208502,2015-05-31 01:00:00,-72,-77,6
849529,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508975649,1315208489,2015-05-31 05:00:00,-9,-13,6
849530,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508975584,1315208455,2015-05-31 09:00:00,-65,-34,6
849531,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508975455,1315208404,2015-05-31 13:00:00,-129,-51,6
849532,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508975330,1315208318,2015-05-31 17:00:00,-125,-86,6
849533,R646,R110,01-00-01,FLATBUSH AVE,25,IRT,REGULAR,1508975266,1315208222,2015-05-31 21:00:00,-64,-96,6

In [192]:
df2 = df_turnstile_master[df_turnstile_master['HOURLY_ENTRIES'] >= 0]

In [194]:
df2.shape

(845693, 13)

### Using Both Datasets

I thought about combining both dataframes into a master dataset that would contain both subway and weather information. However after I implemented it, the whole thing proved to be redundant. The weather data contains one observation for the entire day, while the subway data contains data for every 4 hours. Combining them would mean putting a lot of repeated data into each hour for each day. This only offers some ease of access by having everything in one file, but it bloats the data. So instead I'm choosing to keep them separate, and keeping the weather dataframe as a sort of lookup table to find dates corresponding to events (such as fog) and then getting the subway data for these dates.

But first I'll index them both by date to align them and make it easier for lookups.